@media only screen and (max-width: 1280px) {
  @keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-273.438vw);
    }
  }
  @keyframes main-button1024 {
    0% {
      margin-bottom: 0vw;
    }
    50% {
      margin-bottom: 2.93vw;
    }
    100% {
      margin-bottom: 0vw;
    }
  }
  .container {
    width: 92.188vw;
  }
  .main {
    padding: 3.906vw;
    background-image: url(../img/main/main-background.png);
    background-size: cover;
    background-position: center;
    .main__background {
      display: none;
    }
    .top-smoke {
      width: 106.667vw;
      height: 78.438vw;
      left: -25.938vw;
      top: 22vw;
    }
    .buttom-smoke {
      width: 53.594vw;
      height: 34.115vw;
      left: 1.875vw;
      top: 54.448vw;
    }
    .right-smoke {
      width: 48.958vw;
      height: 35.938vw;
      left: 40.521vw;
      top: 17.427vw;
    }
    .water {
      top: auto;
      bottom: -20.508vw;
      left: 0;
      background-size: 273.438vw 46.094vw;
      background-repeat: repeat-x;
      background-position: top;
      width: 546.875vw;
      height: 46.094vw;
      animation: 15s water1024 linear infinite;
    }
    .water-blur1 {
      bottom: 0;
      width: 100%;
      height: 31.25vw;
      left: 0;
    }
    .header {
      .header__logo {
        width: 18.555vw;
      }
      .header__right-block {
        gap: 3.906vw;
        .header__nav {
          gap: 3.906vw;
          a {
            font-size: 1.465vw;
            line-height: 2.148vw;
            &:hover {
              border-bottom: 1px solid #ff66c4;
            }
          }
        }
        .header__button {
          width: 14.16vw;
          height: 3.906vw;
          font-size: 1.465vw;
          line-height: 2.148vw;
          border-radius: 0.781vw;
          .left-blok,
          .right-block {
            width: 0.879vw;
            gap: 0.488vw;
            span {
              height: 0.195vw;
            }
          }
          &:hover {
            border-radius: 1.758vw;
          }
        }
      }
    }
    .main__container {
      height: 100%;
      .main-title {
        top: auto;
        left: 0;
        font-size: 3.32vw;
        line-height: 4.297vw;
        width: 64.941vw;
        bottom: 29.5vh;
      }
      .main-subtitle {
        bottom: 17.5vh;
        top: auto;
        width: 40.527vw;
        left: 6.543vw;
        font-size: 2.539vw;
        line-height: 3.516vw;
        a {
          border-radius: 0.661vw;
          padding: 0 0.488vw;
          width: auto;
          height: 2.93vw;
        }
      }
      .populacion-container {
        right: 0;
        top: auto;
        bottom: 61vh;
        .main-populacion {
          font-size: 5.078vw;
          line-height: 6.055vw;
          gap: 1.465vw;
          span {
            font-size: 1.953vw;
            line-height: 2.93vw;
            border-radius: 0.781vw;
            width: auto;
            padding: 0 1.27vw;
            height: 3.906vw;
          }
        }
        strong {
          margin: 2.051vw 0 0 0;
          font-size: 1.953vw;
          line-height: 2.93vw;
          width: 32.227vw;
        }
        .main-button {
          position: absolute;
          right: 0;
          top: auto;
          bottom: -49vh;
          margin: 0;
          width: 17.578vw;
          height: 17.578vw;
          font-size: 1.758vw;
          line-height: 2.637vw;
          animation: main-button1024 3s linear infinite;
          img {
            bottom: 3.516vw;
            width: 2.734vw;
            height: auto;
          }
          &:hover {
            width: 19.531vw;
            height: 19.531vw;
            transform: translate(0.977vw, -0.977vw);
          }
        }
      }
    }
  }
  .beginning {
    .bubbles1 {
      width: 4.785vw;
    }
    .bubbles2 {
      width: 7.422vw;
    }
    .bubbles3 {
      width: 4.395vw;
    }
    .bubbles4 {
      width: 4.59vw;
    }
    .beginning__container {
      .beginning__slider {
        width: 42.773vw;
        height: 42.773vw;
        &::before {
          height: 0.781vw;
          width: 0.781vw;
          left: 50.7%;
          border-left: 0.195vw solid #ffffff;
          border-bottom: 0.195vw solid #ffffff;
        }
        &::after {
          height: 0.781vw;
          width: 0.781vw;
          border-left: 0.195vw solid #ffffff;
          border-bottom: 0.195vw solid #ffffff;
          top: 74.8%;
        }
        .circl-background {
          width: 42.773vw;
          height: 42.773vw;
          background-size: 42.773vw 42.773vw;
        }
        .triangle {
          width: 32.422vw;
        }
        .gif {
          width: 26.953vw;
        }
        .circl {
          width: 8.496vw;
          height: 8.496vw;
          font-size: 1.538vw;
          line-height: 2.246vw;
        }
      }
      .beginning__right-block {
        h2 {
          font-size: 4.688vw;
          line-height: 6.641vw;
          gap: 1.465vw;
          transform: translateY(-1.758vw);

          span {
            margin: 1.758vw 0 0 0;
            padding: 0 1.27vw;
            font-size: 1.953vw;
            line-height: 2.93vw;
            border-radius: 0.781vw;
            width: auto;
            height: 3.906vw;
          }
        }
        strong {
          top: 76%;
          font-size: 2.344vw;
          line-height: 3.32vw;
          width: 44.238vw;
          letter-spacing: 0.025em;
          span {
            margin: 0.782vw 0 0 0;
          }
        }
      }
    }
  }
  .team {
    padding: 0;
    .team-background {
      left: -6.641vw;
      top: -4.492vw;
      width: 112%;
      height: 112%;
    }
    .slider {
      .slider-wrapper {
        height: 43.945vw;
        #c1 {
          height: 70%;
        }
        .slide {
          width: 34.18vw;
          &.active {
            width: 28.027vw;
            left: 59.4%;
          }
          &.centr {
            width: 19.824vw;
            left: 9%;
          }
          &.left {
            opacity: 0;
            left: 9%;
            width: 0;
          }
        }
      }
    }
    .capsule {
      width: 42.442vw;
      height: 55.5vw;
      video {
        width: 21.462vw;
        height: 46.45vw;
      }
      &::before {
        width: 24.265vw;
        height: 43.247vw;
      }
      &::after {
        width: 42.442vw;
        height: 55.5vw;
      }
    }
    .team__container {
      top: 16%;
      .team__title {
        font-size: 4.688vw;
        line-height: 6.641vw;
      }
      .ridht-block {
        margin: 6.738vw 0 0 0;
        .button-container {
          gap: 0.977vw;
          .button {
            width: 6.445vw;
            height: 2.734vw;
            border: 1px solid #ffffff;
            border-radius: 0.641vw;
            &.active {
              border: 1px solid #ffffff;
            }
            &:hover {
              border: 1px solid #ff66c4;
            }
            img {
              width: 4.512vw;
            }
          }
        }
        span {
          margin: 8.398vw 0 0 0;
          font-size: 2.539vw;
          line-height: 2.93vw;
        }
        strong {
          margin: 0.488vw 0 0 0;
          font-size: 2.148vw;
          line-height: 3.223vw;
          letter-spacing: -0.03em;
        }
        p {
          margin: 1.563vw 0 0 0;
          font-size: 1.758vw;
          line-height: 2.734vw;
          width: 28.125vw;
        }
        .social {
          margin: 2.734vw 0 0 0;
          gap: 1.172vw;
          a {
            width: 3.906vw;
            height: 3.906vw;
          }
        }
      }
    }
  }
  .btn {
    font-size: 1.758vw;
    width: 21.484vw;
    padding: 1.953vw 4.395vw;
    margin: 0;
    &::before,
    &::after {
      width: 5.273vw;
      height: 1.563vw;
      background-size: 5.273vw auto;
    }
  }

  #mintwaterway{
    height: 6000px;
  }
  #mint {
    padding: 0;
    img.bg {
      top: -13.75vw;
      left: -2.25vw;
      width: 88vw;
    }
    .container {
      width: 92vw;
    }
    .main-title {
      font-size: 4.688vw;
      line-height: calc(68 / 48);
      margin: 0 0 3.906vw 0;
    }
    .main-text {
      font-size: 2.344vw;
      line-height: calc(34 / 24);
      margin: 0 0 5.859vw 0;
    }
    .anime-circle {
      top: -1.953vw;
      left: 36.5vw;
      width: 67vw;
      .wrapper-circle {
        .character {
          width: 49.5vw;
        }
      }
    }
  }
  #waterway {
    &.first {
      #waterway-bg {
        width: 426.646vw;
        left: 0;
        top: -25.969vw;
        min-height: 105%;
      }
    }
    &.second {
      #waterway-bg {
        width: 468vw;
        top: 0;
        left: -107.479vw;
      }
    }
    &.third {
      #waterway-bg {
        width: 360vw;
        top: 0;
        left: -124vw;
      }
    }
    &.four {
      #waterway-bg {
        width: 390vw;
        top: -10vw;
        left: -220.958vw;
        min-height: 116%;
      }
    }
    .waterway-tabs {
      width: 34vw;
      gap: 2.4vw;
      a {
        font-size: 2.344vw;
        &.active {
          font-size: 4.688vw;
        }
      }
    }
    .waterway-texts {
      width: 34vw;
      .waterway-title {
        font-size: 4.102vw;
        line-height: calc(52 / 42);
        margin: 0 0 0.977vw 0;
      }
      p {
        font-size: 2.344vw;
        line-height: calc(34 / 24);
        margin-top: 0.977vw;
      }
      ul {
        li {
          font-size: 1.953vw;
          line-height: calc(30 / 20);
          margin-top: 0.977vw;
          padding: 0 0 0 2.8vw;
          &::before {
            width: 0.391vw;
            height: 0.391vw;
            top: 1.465vw;
          }
        }
      }
      a {
        width: 11.6vw;
        height: 2.8vw;
      }
    }
    .waterway-buble {
      top: 40vw;
      left: 17.09vw;
    }
    &.first {
      .waterway-buble {
        top: 40vw;
        left: 17.09vw;
      }
    }
  }
  .waterway-maintitle {
    font-size: 1.953vw;
    padding: 0.488vw 1.172vw;
    margin: 6.836vw 0 0.586vw 0;
  }

  footer {
    .footer-light {
      width: 103vw;
      left: 23vw;
      top: -4vw;
    }
    .faq {
      height: 84.766vw;
      .main-title {
        font-size: 4.688vw;
        line-height: calc(68 / 48);
      }
    }
  }

  .accordion-item {
    width: 44.141vw;
    &.show {
      max-height: 34.18vw !important;
    }
  }

  .accordion-title {
    font-size: 2.148vw;
    line-height: calc(32 / 22);
    padding: 1.66vw 1.563vw 1.66vw 3.125vw;
    &::before {
      width: 0.195vw;
      height: 1.172vw;
    }
    &::after {
      width: 1.172vw;
      height: 0.195vw;
    }
  }
  .accordion-content {
    font-size: 1.758vw;
    line-height: calc(28 / 18);
  }

  .footer {
    padding: 0 0 3.906vw 0;
    .f-main-title {
      font-size: 6.641vw;
    }
    .join-bot {
      > span {
        font-size: 9.18vw;
        line-height: calc(139 / 94);
      }
      > img {
        width: 30.762vw;
        margin: 0 0 0 13.5vw;
      }
    }
    .socials {
      margin: 0.977vw 0 5.371vw 0;
      gap: 3.906vw;
      .btn {
        font-size: 1.758vw;
        line-height: calc(26.7 / 18);
        img {
          width: 2.051vw;
        }
      }
    }
    .terms {
      gap: 3.906vw;
      margin: 0 0 2.734vw 0;
      a {
        font-size: 1.367vw;
        line-height: calc(20 / 14);
      }
    }
    .powered {
      a {
        img {
          width: 12.695vw;
        }
      }
    }
  }
}
