@media only screen and (max-width: 1200px) {
  @keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-273.438vw);
    }
  }
  @keyframes main-button1024 {
    0% {
      margin-bottom: 0vw;
    }
    50% {
      margin-bottom: 2.93vw;
    }
    100% {
      margin-bottom: 0vw;
    }
  }
  .container {
    width: 92.188vw;
  }

  .header {
    padding: 3.906vw;
    a {
      .logo {
        width: 18.457vw;  
      }
    }
  }
  .main {
    padding: 3.906vw;
    background-image: url(../img/main/main-background.png);
    background-size: cover;
    background-position: center;
    .main__background {
      display: none;
    }
    .top-smoke {
      width: 106.667vw;
      height: 78.438vw;
      left: -25.938vw;
      top: 22vw;
    }
    .buttom-smoke {
      width: 53.594vw;
      height: 34.115vw;
      left: 1.875vw;
      top: 54.448vw;
    }
    .right-smoke {
      width: 48.958vw;
      height: 35.938vw;
      left: 40.521vw;
      top: 17.427vw;
    }
    .water {
      top: auto;
      bottom: -20.508vw;
      left: 0;
      background-size: 273.438vw 46.094vw;
      background-repeat: repeat-x;
      background-position: top;
      width: 546.875vw;
      height: 46.094vw;
      animation: 15s water1024 linear infinite;
    }
    .water-blur1 {
      bottom: 0;
      width: 100%;
      height: 31.25vw;
      left: 0;
    }
    .main__container {
      height: 100%;
      .main-inbox {
        bottom: 26.074vw;
        top: auto;
        width: 39.258vw;
        padding: 1.465vw 2.344vw 4.297vw 2.344vw;
        p {
          font-size: 1.563vw;
          line-height: 2.344vw;
          a {
            word-wrap: break-word;
          }
          br {
            display: none;
          }
        }
      }
      .main-title {
        top: auto;
        left: 0;
        font-size: 4.297vw;
        line-height: 5.273vw;
        width: 64.941vw;
        bottom: 18.5vh;
      }
      .main-subtitle {
        bottom: 10vh;
        top: auto;
        width: 100%;
        left: 0;
        font-size: 2.539vw;
        line-height: 3.516vw;
        br {
          display: none;
        }
        a {
          border-radius: 0.661vw;
          padding: 0 0.488vw;
          width: auto;
          height: 2.93vw;
        }
      }
      .populacion-container {
        right: 0;
        top: auto;
        top: 5.078vw;

        .main-populacion {
          font-weight: 500;
          font-size: 4.688vw;
          line-height: 5.664vw;
          gap: 1.465vw;
          span {
            font-weight: 500;
            font-size: 1.563vw;
            line-height: 2.344vw;
            letter-spacing: -0.02em;
            border-radius: 0.781vw;
            width: auto;
            padding: 0 1.27vw;
            height: 3.906vw;
          }
        }
        strong {
          margin: 2.051vw 0 0 0;
          font-weight: 400;
          font-size: 1.563vw;
          line-height: 2.344vw;
          letter-spacing: -0.02em;
          width: 34.668vw;
          br {
            display: none;
          }
        }
        .main-button {
          position: absolute;
          right: 0;
          top: auto;
          bottom: -31vh;
          margin: 0;
          width: 17.578vw;
          height: 17.578vw;
          font-size: 1.758vw;
          line-height: 2.637vw;
          animation: main-button1024 3s linear infinite;
          img {
            bottom: 3.516vw;
            width: 2.734vw;
            height: auto;
          }
          &:hover {
            width: 19.531vw;
            height: 19.531vw;
            transform: translate(0.977vw, -0.977vw);
          }
        }
      }
    }
  }
  .beginning {
    height: auto;
    .beginning-wrapper {
      position: relative;
      .begining-blur {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform: rotate(180deg);
      }
    }

    .bubbles1 {
      width: 4.785vw;
    }
    .bubbles2 {
      width: 7.422vw;
    }
    .bubbles3 {
      width: 4.395vw;
    }
    .bubbles4 {
      width: 4.59vw;
    }
    .beginning__container {
      .beginning__slider {
        width: 42.773vw;
        height: 42.773vw;
        &::before {
          height: 0.781vw;
          width: 0.781vw;
          left: 50.7%;
          border-left: 0.195vw solid #ffffff;
          border-bottom: 0.195vw solid #ffffff;
        }
        &::after {
          height: 0.781vw;
          width: 0.781vw;
          border-left: 0.195vw solid #ffffff;
          border-bottom: 0.195vw solid #ffffff;
          top: 74.8%;
        }
        .circl-background {
          width: 42.773vw;
          height: 42.773vw;
          background-size: 42.773vw 42.773vw;
        }
        .triangle {
          width: 32.422vw;
        }
        .gif {
          width: 26.953vw;
        }
        .circl {
          width: 8.496vw;
          height: 8.496vw;
          font-size: 1.538vw;
          line-height: 2.246vw;
        }
      }
      .beginning__right-block {
        position: relative;
        margin: 5.078vw 0 0 0;

        h2 {
          position: static;
          padding: 0 8.398vw 0 0;
          font-size: 4.688vw;
          line-height: 6.641vw;
          gap: 1.465vw;
          transform: translateY(-1.758vw);

          span {
            position: absolute;
            right: 0;
            top: -1.27vw;
            margin: 1.758vw 0 0 0;
            padding: 0 1.27vw;
            font-size: 1.563vw;
            line-height: 2.344vw;
            border-radius: 0.781vw;
            width: auto;
            height: 3.906vw;
          }
        }
        strong {
          top: 44%;
          font-size: 1.758vw;
          line-height: 2.734vw;
          width: auto;
          letter-spacing: 0.025em;
          span {
            margin: 2.782vw 0 0 0;
          }
        }
      }
    }
  }
  .team {
    padding: 0;
    .team-background {
      left: -6.641vw;
      top: -4.492vw;
      width: 112%;
      height: 112%;
    }
    .slider {
      .slider-wrapper {
        height: 43.945vw;
        #c1 {
          height: 70%;
        }
        .slide {
          width: 34.18vw;
          &.active {
            width: 28.027vw;
            left: 59.4%;
          }
          &.centr {
            width: 19.824vw;
            left: 9%;
          }
          &.left {
            opacity: 0;
            left: 9%;
            width: 0;
          }
        }
      }
    }
    .capsule {
      width: 42.442vw;
      height: 55.5vw;
      video {
        width: 21.462vw;
        height: 46.45vw;
      }
      &::before {
        width: 24.265vw;
        height: 43.247vw;
      }
      &::after {
        width: 42.442vw;
        height: 55.5vw;
      }
    }
    .team__container {
      top: 16%;
      .team__title {
        font-size: 4.688vw;
        line-height: 6.641vw;
      }
      .ridht-block {
        margin: 6.738vw 0 0 0;
        .button-container {
          gap: 0.977vw;
          .button {
            width: 6.445vw;
            height: 2.734vw;
            border: 1px solid #ffffff;
            border-radius: 0.641vw;
            &.active {
              border: 1px solid #ffffff;
            }
            &:hover {
              border: 1px solid #ff66c4;
            }
            img {
              width: 4.512vw;
            }
          }
        }
        span {
          margin: 8.398vw 0 0 0;
          font-size: 2.539vw;
          line-height: 2.93vw;
        }
        strong {
          margin: 0.88vw 0 0 0;
          font-size: 1.758vw;
          line-height: 2.148vw;
          letter-spacing: -0.03em;
        }
        p {
          margin: 2.563vw 0 0 0;
          font-size: 1.563vw;
          line-height: 2.344vw;
          width: 28.125vw;
        }
        .social {
          margin: 2.734vw 0 0 0;
          gap: 1.172vw;
          a {
            width: 3.906vw;
            height: 3.906vw;
          }
        }
      }
    }
  }
  .btn {
    font-size: 1.758vw;
    width: 21.484vw;
    padding: 1.953vw 4.395vw;
    margin: 0;
    &::before,
    &::after {
      width: 5.273vw;
      height: 1.563vw;
      background-size: 5.273vw auto;
    }
  }
  .fade-wrapper {
    margin-top: 0;
  }

  #mintwaterway {
    height: auto;
    width: 100%;
    #mint-waterway-wrap {
      position: static;
      height: auto;
    }
  }

  .mint-test {
    flex-direction: column;
    width: auto;
  }
  #mint {
    padding: 0;
    img.bg {
      top: 9.25vw;
      left: 18.75vw;
      width: 66vw;
    }
    .container {
      width: 92vw;
      .btn {
        width: 17.578vw;
        height: 5.859vw;
        font-size: 1.563vw;
        line-height: 1.758vw;
        padding: 0;
        display: flex;
        align-items: center;
        border-radius: 0.781vw;
        &::before,
        &::after {
          width: 2.979vw;
        }
      }
    }
    .main-title {
      font-size: 4.688vw;
      line-height: calc(68 / 48);
      margin: 13.184vw 0 3.809vw 0;
    }
    .main-text__container {
      width: 36.719vw;
      gap: 2.45vw;
      margin: 0 0 4.688vw 0;
    }
    .main-text {
      font-size: 1.563vw;
      line-height: 2.344vw;
      br {
        display: none;
      }
    }
    .anime-circle {
      top: 11.047vw;
      left: 43.5vw;
      width: 67vw;
      .wrapper-circle {
        .character {
          width: 49.5vw;
        }
      }
    }
  }
  #waterway {
    height: 100vh;
    position: relative;
    width: 100%;
    .mintwaterway-blur {
      display: block;
      width: 100%;
      height: 33.887vw;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #waterway-bg {
      z-index: 0;
    }
    #waterway-blur {
      opacity: 1;
    }
    &.first {
      #waterway-bg {
        width: 426.646vw;
        left: 0;
        top: -25.969vw;
        min-height: 105%;
      }
      .waterway-buble {
        transform: none;
      }
    }
    &.second {
      #waterway-bg {
        width: 468vw;
        top: 0;
        left: -107.479vw;
      }
      .waterway-buble {
        transform: none;
      }
    }
    &.third {
      #waterway-bg {
        width: 360vw;
        top: 0;
        left: -124vw;
      }
      .waterway-buble {
        transform: none;
      }
    }
    &.four {
      #waterway-bg {
        width: 390vw;
        top: -10vw;
        left: -220.958vw;
        min-height: 116%;
      }
      .waterway-buble {
        transform: none;
      }
    }
    .waterway-tabs {
      width: 34vw;
      gap: 2.54vw;
      a {
        font-size: 2.344vw;
        &.active {
          font-size: 4.688vw;
        }
      }
    }
    .waterway-texts {
      width: 44.141vw;
      .waterway-title {
        font-size: 3.418vw;
        line-height: 4.395vw;
        margin: 0 0 3.906vw 0;
      }
      p {
        font-size: 2.344vw;
        line-height: calc(34 / 24);
        margin-top: 0.977vw;
      }
      ul {
        gap: 2.354vw;
        li {
          font-size: 1.563vw;
          line-height: 2.344vw;
          gap: 0.977vw;
          &::before {
            font-size: 0.977vw;
            line-height: 1.953vw;
          }
        }
      }
      a {
        width: 11.6vw;
        height: 2.8vw;
      }
    }
    .waterway-buble {
      width: 28.125vw;
      height: 28.125vw;
      top: 53vh;
      left: 20.09vw;
      .buble-container {
        .buble {
          width: 100%;
        }
        .axolots {
          width: 19.531vw;
          &.active {
            opacity: 1;
          }
        }
      }
    }
    &.first {
      .waterway-buble {
        top: 53vh;
        left: 17.09vw;
      }
    }
  }
  .waterway-maintitle {
    font-size: 1.563vw;
    line-height: 2.344vw;
    padding: 0 1.563vw;
    margin: 3.418vw 0 0 0;
    width: auto;
    height: 3.516vw;
    border-radius: 0.781vw;
    display: flex;
    align-items: center;
  }

  footer {
    .footer-light {
      width: 103vw;
      left: 23vw;
      top: -4vw;
    }

    .faq {
      height: auto;
      padding: 7.292vw 0 13.672vw 0;
      .main-title {
        text-align: start;
        font-size: 4.688vw;
        line-height: 6.641vw;
      }
    }
  }
  .accordion-wrap {
    flex-direction: column;
  }
  .accordion-item {
    width: 100%;
    &.show {
      max-height: 34.18vw !important;
    }
  }

  .accordion-title {
    font-size: 1.758vw;
    line-height: 2.734vw;
    padding: 1.66vw 1.563vw 1.66vw 3.125vw;
    &::before {
      width: 0.195vw;
      height: 1.172vw;
    }
    &::after {
      width: 1.172vw;
      height: 0.195vw;
    }
  }
  .accordion-content {
    font-size: 1.758vw;
    line-height: 2.734vw;
  }

  .footer {
    padding: 0 0 3.906vw 0;
    .f-main-title {
      font-size: 4.688vw;
      line-height: 6.641vw;
    }
    .join-bot {
      > span {
        font-size: 8.984vw;
        line-height: 10.84vw;
      }
      > img {
        width: 29.297vw;
        margin: 0 0 0 13.5vw;
      }
    }
    .socials {
      margin: 0.977vw 0 5.371vw 0;
      gap: 3.906vw;
      .btn {
        font-size: 1.758vw;
        line-height: calc(26.7 / 18);
        img {
          width: 2.051vw;
        }
      }
    }
    .footer__block-wrapper {
      .terms {
        gap: 3.906vw;
        margin: 0 0 2.734vw 0;
        a {
          font-size: 1.172vw;
          line-height: 1.465vw;
        }
      }
      .powered {
        a {
          img {
            width: 16.992vw;
          }
        }
      }
    }
  }
}
