@media only screen and (max-width: 1280px) {
  .container {
    width: 92.188vw;
  }
  .header {
    padding: 2.93vw 3.906vw;
  }
  .header .logo-link .logo {
    width: 18.457vw;
  }
  .header .header__right-block .open-menu {
    width: 3.516vw;
    height: 3.516vw;
    margin: 0 0 0 auto;
    border-radius: 0.781vw;
    border: 1px solid #ffffff;
    background: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 0.391vw;
  }
  .header .header__right-block .open-menu span {
    width: 1.563vw;
    height: 0.195vw;
    background: #ffffff;
    display: block;
  }
  .header .header__right-block .nav__wrapper {
    position: absolute;
    right: -50%;
    top: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2.93vw 3.906vw;
    background: #0d4b9e;
    height: 100vh;
    transition: 0.35s right;
  }
  .header .header__right-block .nav__wrapper .close-menu {
    display: block;
    position: relative;
    width: 3.516vw;
    height: 3.516vw;
    margin: 0 0 0 auto;
    border-radius: 0.781vw;
    border: 1px solid #ffffff;
    background: none;
    padding: 0;
  }
  .header .header__right-block .nav__wrapper .close-menu span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.563vw;
    height: 0.195vw;
    background: #ffffff;
    display: block;
    transform-origin: center;
  }
  .header .header__right-block .nav__wrapper .close-menu span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header .header__right-block .nav__wrapper .close-menu span:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header .header__right-block .nav__wrapper .nav {
    margin: 2.441vw 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .header .header__right-block .nav__wrapper .nav li {
    border-top: 1px solid rgba(255, 255, 255, 0.1215686275);
    position: relative;
    width: 100%;
    height: 4.883vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__right-block .nav__wrapper .nav li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1215686275);
  }
  .header .header__right-block .nav__wrapper .nav li .item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.367vw;
    line-height: 1.66vw;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: 0.35s color;
    text-align: center;
  }
  .header .header__right-block .nav__wrapper .nav li::after {
    display: none;
  }
  .header .header__right-block .nav__wrapper .nav li:hover .item {
    color: #ff66c4;
  }
  .header .header__right-block::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(7, 3, 31, 0.85);
    -webkit-backdrop-filter: blur(0.391vw);
            backdrop-filter: blur(0.391vw);
    opacity: 0;
    transition: 0.35s opacity;
    z-index: -2;
  }
  .header.active .header__right-block .nav__wrapper {
    right: 0;
  }
  .header.active .header__right-block::before {
    opacity: 1;
    z-index: 0;
    left: 0%;
  }
  .about {
    padding: 0;
    height: 100vh;
  }
  .about .logo-bg {
    top: 13.672vw;
    right: 3.906vw;
    width: 38.086vw;
  }
  .about .about__container .about__title {
    font-size: 4.688vw;
    line-height: 6.641vw;
  }
  .about .about__container .about__subtitle {
    margin: 0.977vw 0 0 0;
    width: 54.688vw;
    font-size: 1.758vw;
    line-height: 2.734vw;
  }
  .about .about__container .about__description {
    margin: 2.93vw 0 0 0;
    font-size: 1.563vw;
    line-height: 2.344vw;
  }
  .about .about__container .about__slider-wrapper {
    margin: 2.93vw 0 0 0;
    align-items: flex-start;
  }
  .about .about__container .about__slider-wrapper .slider {
    position: relative;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev,
.about .about__container .about__slider-wrapper .slider .button-next {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 0;
    width: 5.469vw;
    height: 2.344vw;
    border: 1px solid #ffffff;
    border-radius: 0.781vw;
    transition: 0.3s color;
    z-index: 1;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev img,
.about .about__container .about__slider-wrapper .slider .button-next img {
    width: 3.32vw;
    height: 0.977vw;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev:hover,
.about .about__container .about__slider-wrapper .slider .button-next:hover {
    border: 1px solid #ff66c4;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev.inactive:hover,
.about .about__container .about__slider-wrapper .slider .button-next.inactive:hover {
    border: 1px solid #ffffff;
  }
  .about .about__container .about__slider-wrapper .slider .button-next {
    transform: translate(0.488vw, calc(100% + 2.441vw));
  }
  .about .about__container .about__slider-wrapper .slider .button-next img {
    transform: rotate(180deg);
  }
  .about .about__container .about__slider-wrapper .slider .button-prev {
    transform: translate(calc(-100% - 0.488vw), calc(100% + 2.441vw));
  }
  .about .about__container .about__slider-wrapper .slider .slide-container {
    width: 54.688vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper {
    gap: 0.847vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide {
    width: 11.513vw;
    height: 11.513vw;
    padding: 0 1.514vw 1.172vw 1.523vw;
    border-radius: 0.684vw 0.684vw 0 0;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide span {
    font-size: 1.101vw;
    line-height: 1.855vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active {
    width: 14.561vw;
    height: 14.561vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active span {
    transform: scale(1.26);
  }
  .about .about__container .about__slider-wrapper .slider__description {
    width: 28.125vw;
  }
  .about .about__container .about__slider-wrapper .slider__description p {
    font-size: 1.563vw;
    line-height: 2.344vw;
  }
  .charity .charity-axolots1 {
    bottom: 24.5%;
    left: 3.125vw;
    width: 9.766vw;
  }
  .charity .charity-axolots2 {
    bottom: 20.5%;
    left: 13.672vw;
    width: 15.625vw;
  }
  .charity .heart-container {
    bottom: 38.5%;
    top: auto;
    left: 11.01vw;
    width: 41.771vw;
    height: 40.313vw;
  }
  .charity .heart-container .heart-wrapper .heart {
    left: 2.396vw;
    top: 2.083vw;
    width: 37.396vw;
  }
  .charity .heart-container .heart-wrapper .planet {
    right: 0.313vw;
    top: 6.302vw;
    width: 34.051vw;
  }
  .charity .charity__container {
    flex-direction: column;
  }
  .charity .charity__container .charity__title {
    font-size: 3.711vw;
    line-height: 4.688vw;
    width: 60.156vw;
  }
  .charity .charity__container .charity__subtitle-wrapper {
    padding: 0;
    width: 44.141vw;
    gap: 1.953vw;
    margin: 0 0 0 auto;
  }
  .charity .charity__container .charity__subtitle-wrapper p {
    font-size: 1.563vw;
    line-height: 2.344vw;
  }
  .roadmap {
    padding: 0;
  }
  .roadmap .roadmap__container .roadmap__title {
    font-size: 3.711vw;
    line-height: 4.688vw;
  }
  .roadmap .roadmap__container #vr .code {
    top: 7.129vw;
    right: 10.938vw;
    width: 5.448vw;
  }
  .roadmap .roadmap__container #vr .vr-text {
    width: 48.828vw;
    gap: 1.465vw;
  }
  .roadmap .roadmap__container #vr .vr-text p {
    font-size: 1.563vw;
    line-height: 2.344vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation {
    gap: 1.66vw;
    position: static;
    transform: translateX(0);
    background: #03010d;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container {
    gap: 5.859vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .background-button {
    border-radius: 0.586vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .navigation__button {
    padding: 0.293vw 0.586vw;
    font-size: 1.563vw;
    line-height: 1.563vw;
    border-radius: 0.586vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__line {
    width: 70.41vw;
  }
  .story::before {
    height: 24.654vw;
    z-index: 2;
  }
  .story .story__container .story__left-block {
    width: 51.758vw;
  }
  .story .story__container .story__left-block .stone {
    left: -19vw;
    top: 25.729vw;
    width: 66.211vw;
  }
  .story .story__container .story__left-block .story__title {
    font-size: 3.711vw;
    line-height: 4.688vw;
  }
  .story .story__container .story__left-block .story__subtitle {
    font-size: 1.758vw;
    line-height: 2.734vw;
    width: 24.414vw;
    margin: 28vw 0 0 3.711vw;
  }
  .story .story__container .story__left-block .story__subtitle img {
    width: 5.319vw;
    bottom: 0.781vw;
    right: 11vw;
  }
  .story .story__container .story__right-block {
    margin: 9.766vw 0 0 0;
    width: 42.09vw;
    height: 54.004vw;
    padding: 8.789vw 2.93vw 8.594vw 3.906vw;
    position: relative;
  }
  .story .story__container .story__right-block::before {
    width: 37.739vw;
    height: 48.284vw;
    filter: blur(2.539vw);
  }
  .story .story__container .story__right-block img {
    width: 44.02vw;
    top: -5.664vw;
    left: -2.637vw;
    width: 63.379vw;
  }
  .story .story__container .story__right-block .description {
    padding: 0 1.953vw 0 0;
    gap: 2.042vw;
  }
  .story .story__container .story__right-block .description p {
    font-size: 1.367vw;
    line-height: 1.953vw;
  }
  .story .story__container .story__right-block .description::-webkit-scrollbar {
    width: 0.208vw;
  }
  .story .story__container .story__right-block .description::-webkit-scrollbar-track {
    background-color: rgba(7, 3, 31, 0.1882352941);
    border-radius: 0.417vw;
  }
  .story .story__container .story__right-block .description::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.313vw #07031f;
    border-radius: 0.417vw;
  }
  .footer {
    gap: 14.648vw;
    padding: 9.766vw 0 5.859vw 0;
  }
  .footer .footer__container .footer__left-block .footer__title {
    font-size: 3.711vw;
    line-height: 4.688vw;
    width: 60.156vw;
  }
  .footer .footer__container .footer__left-block .footer__title img {
    display: none;
  }
  .footer .footer__container .footer__left-block .footer__subtitle {
    font-size: 1.563vw;
    line-height: 2.344vw;
    margin: 9.766vw 0 0 0;
    gap: 0.586vw;
  }
  .footer .footer__container .footer__mail {
    position: absolute;
    font-size: 2.734vw;
    line-height: 3.32vw;
    gap: 1.172vw;
    transform: translateY(50%);
  }
  .footer .footer__container .footer__mail img {
    width: 2.93vw;
  }
  .footer .social__container .social__left-block {
    gap: 3.906vw;
  }
  .footer .social__container .social__left-block span {
    font-size: 1.172vw;
    line-height: 1.465vw;
  }
  .footer .social__container .social__logo {
    width: 16.992vw;
  }
  .footer .social__container .social {
    gap: 1.465vw;
  }
  .footer .social__container .social a svg {
    width: 3.32vw;
  }
}
@media only screen and (min-aspect-ratio: 1024/768) and (min-width: 861px) and (max-width: 1280px) {
  .about,
.charity,
.roadmap,
.story {
    height: 67.188vw;
  }
}/*# sourceMappingURL=1024about.css.map */