@keyframes about-logo-bg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.344vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.06);
  }
  20% {
    transform: scale(1.03);
  }
  30% {
    transform: scale(1.06);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
}

a {
  outline: none;
  outline-style: none;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #0d4b9e;
  overflow: hidden;
}
.container {
  width: 76.458vw;
  margin: 0 auto;
}
.header {
  position: absolute;
  width: 100%;
  padding: 1.823vw 2.604vw;
  z-index: 10;
  a {
    .logo {
      width: 10.625vw;
      height: auto;
    }
  }
}
.about {
  position: relative;
  padding: 5.99vw 0 3.229vw 0;
  height: 100vh;
  display: flex;
  align-items: center;
  .logo-bg {
    position: absolute;
    top: 10.104vw;
    right: 10vw;
    width: 30vw;
    height: auto;
    opacity: 0.1;
    animation: about-logo-bg 6s ease-in-out infinite;
    z-index: 1;
  }
  .about-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
  }
  .about__container {
    z-index: 1;
    .about__title {
      font-family: "Wild World";
      font-weight: 500;
      font-size: 3.542vw;
      line-height: 4.583vw;
      color: #ffffff;
    }
    .about__subtitle {
      margin: 2.604vw 0 0 0;
      width: 44.115vw;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.146vw;
      line-height: 1.667vw;
      letter-spacing: -0.02em;
      color: #ffffff;
    }
    .about__description {
      display: block;
      margin: 2.083vw 0 0 0;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 0.938vw;
      line-height: 1.354vw;
      letter-spacing: -0.02em;
      color: #ffffff;
      opacity: 0.5;
    }
    .about__slider-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 2.604vw 0 0 0;
      .slider {
        display: flex;
        align-items: center;
        gap: 2.344vw;
        .button-prev,
        .button-next {
          padding: 0;
          margin: 0;
          width: 2.917vw;
          height: 1.25vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: 0.052vw solid #ffffff;
          border-radius: 0.417vw;
          transition: 0.3s color;
          transform: translateY(0.938vw);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.25s background ease-out, 0.25s border ease-out,
            0.2s ease-in-out opacity;
          img {
            width: 1.771vw;
            height: 0.521vw;
          }
          &:hover {
            background: #ff66c4;
            border: 0.052vw solid #ff66c4;
          }
          &.inactive {
            opacity: 0.3;
            &:hover {
              border: 0.052vw solid #ffffff;
              background: none;
            }
          }
        }
        .button-next {
          img {
            transform: rotate(180deg);
          }
        }
        .slide-container {
          overflow: hidden;
          width: 33.646vw;
          .slide-wrapper {
            position: relative;
            display: flex;
            align-items: flex-end;
            gap: 0.521vw;
            transition: 0.35s transform ease-in-out;

            .slide {
              flex-shrink: 0;
              width: 7.083vw;
              height: 7.083vw;
              padding: 0 0.938vw 0.677vw 0.938vw;
              display: flex;
              border-radius: 0.417vw 0.417vw 0vw 0vw;
              -webkit-mask-image: -webkit-radial-gradient(white, black);
              transition: 0.35s width ease-in-out, 0.35s height ease-in-out;
              position: relative;
              overflow: hidden;
              img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              span {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 0.677vw;
                line-height: 1.146vw;
                display: flex;
                align-items: flex-end;
                letter-spacing: -0.02em;
                color: #ffffff;
                z-index: 1;
                transition: 0.35s transform;
                transform-origin: bottom;
              }
              &.active {
                width: 8.958vw;
                height: 8.958vw;
                span {
                  transform: scale(1.23);
                  transform-origin: bottom;
                }
              }
            }
          }
        }
      }
      .slider__description {
        width: 22.917vw;
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 0.938vw;
          line-height: 1.354vw;
          letter-spacing: -0.02em;
          color: #ffffff;
          &:last-child {
            color: #ff66c4;
          }
        }
      }
    }
  }
}
.charity {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  .charity-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
  .charity-axolots1 {
    position: absolute;
    bottom: 20%;
    left: 13.49vw;
    width: 7.813vw;
    height: auto;
    z-index: 2;
  }
  .charity-axolots2 {
    position: absolute;
    bottom: 16%;
    left: 21.771vw;
    width: 12.396vw;
    z-index: 2;
  }
  .heart-container {
    position: absolute;
    top: 0%;
    left: 19.01vw;
    width: 41.771vw;
    height: 40.313vw;
    z-index: 0;
    .heart-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      .heart {
        position: absolute;
        left: 2.396vw;
        top: 2.083vw;
        width: 37.396vw;
        height: auto;
        animation: 1.3s bounce-in infinite;
      }
      .planet {
        position: absolute;
        right: 0.313vw;
        top: 6.302vw;
        width: 34.051vw;
        height: auto;
      }
    }
  }
  .charity__container {
    display: flex;
    z-index: 1;

    justify-content: space-between;
    .charity__title {
      font-family: "Wild World";
      font-style: normal;
      font-weight: 500;
      font-size: 2.5vw;
      line-height: 3.542vw;
      color: #ffffff;
      width: 35.417vw;
    }
    .charity__subtitle-wrapper {
      display: flex;
      flex-direction: column;
      padding: 5vw 0 0 0;
      width: 22.917vw;
      gap: 1.406vw;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 0.938vw;
        line-height: 1.354vw;
        letter-spacing: -0.02em;
        color: #ffffff;
        a {
          color: #ff66c4;
        }
      }
    }
  }
}
.roadmap {
  padding: 2.604vw 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #03010d;
  .roadmap__container {
    position: relative;
    .roadmap__title {
      font-family: "Wild World";
      font-style: normal;
      font-weight: 500;
      font-size: 2.5vw;
      line-height: 3.542vw;
      color: #ffffff;
      text-align: center;
    }
    #vr {
      position: relative;
      overflow: hidden;
      .code {
        position: absolute;
        top: 5.99vw;
        right: 9.115vw;
        width: 4.531vw;
        height: auto;
        mix-blend-mode: exclusion;
        border-radius: 0.521vw;
        z-index: 25;
      }
      .mask {
        width: 100%;
        height: auto;
        z-index: 1;
        position: relative;
      }
      .semirounds {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity;
      }
      .semirounds2 {
        transform: scale(0.48);
        opacity: 0.3;
      }
      .semirounds3 {
        transform: scale(0.2);
        opacity: 0;
      }
      .road {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        transition: 0.75s ease-in-out transform;
      }
      .vr-buble {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4.896vw;
        height: auto;
        opacity: 0;
        transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity;
      }
      .vr-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        z-index: 1;
        width: 26.042vw;
        display: flex;
        flex-direction: column;
        gap: 1.042vw;
        transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity,
          0.75s ease-in-out top;
        p {
          font-family: "Inter";
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 0.938vw;
          line-height: 1.354vw;
          letter-spacing: -0.02em;
          color: #ffffff;
          a {
            color: #ff66c4;
          }
        }
      }
      .text2,
      .text3 {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
      .roadmap__navigation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.885vw;
        .navigation__button-container {
          position: relative;
          display: flex;
          justify-content: center;
          gap: 3.385vw;
          width: max-content;
          .background-button {
            height: 100%;
            position: absolute;
            background: #ff66c4;
            left: 0%;
            transform: translateX(0%);
            transition: 0.75s width, 0.75s left, 0.75s transform;
            border-radius: 0.313vw;
          }
          .navigation__button {
            padding: 0.26vw;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 0.833vw;
            line-height: 0.833vw;
            text-align: center;
            letter-spacing: -0.02em;
            color: #ffffff;
            border-radius: 0.313vw;
            background: none;
            border: none;
            transition: 0.35s ease-in-out color;
            z-index: 1;
          }
          .button2 {
            &:hover {
              color: #ff66c4;
            }
          }
          .button3 {
            &:hover {
              color: #ff66c4;
            }
          }
        }
        .navigation__line {
          width: 37.552vw;
          height: auto;
          path {
            transition: 0.75s ease-in-out fill;
          }
        }
      }

      &.step2 {
        .semirounds1 {
          transform: scale(2);
        }
        .semirounds2 {
          transform: scale(1);
          opacity: 1;
        }
        .semirounds3 {
          transform: scale(0.48);
          opacity: 0.3;
        }
        .road {
          transform: scale(2);
        }
        .vr-buble {
          transform: translate(-50%, -50%) scale(3.59);
          opacity: 0.5;
        }
        .text1 {
          top: 0;
          transform: translate(-50%, -300%) scale(1);
        }
        .text2 {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
        .text3 {
          transform: translate(-50%, -50%) scale(0.5);
          opacity: 0;
        }
        .roadmap__navigation {
          .navigation__button-container {
            .background-button {
              left: 50%;
              transform: translateX(-48%);
            }
            .button1 {
              &:hover {
                &:hover {
                  color: #ff66c4;
                }
              }
            }
            .button2 {
              &:hover {
                &:hover {
                  color: #ffffff;
                }
              }
            }
            .button3 {
              &:hover {
                &:hover {
                  color: #ff66c4;
                }
              }
            }
          }
          .navigation__line {
            .triangle1 {
              fill: #1c1a25;
            }
            .triangle2 {
              fill: #ff66c4;
            }
            .triangle3 {
              fill: #1c1a25;
            }
          }
        }
      }
      &.step3 {
        .semirounds1 {
          transform: scale(2);
        }
        .semirounds2 {
          transform: scale(2);
          opacity: 1;
        }
        .semirounds3 {
          transform: scale(1);
          opacity: 1;
        }
        .road {
          transform: scale(4);
        }
        .vr-buble {
          transform: scale(24.7);
          opacity: 0.1;
        }
        .text1 {
          top: 0;
          transform: translate(-50%, -300%) scale(1);
        }
        .text2 {
          top: 0;
          transform: translate(-50%, -300%) scale(1);
        }
        .text3 {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
        .roadmap__navigation {
          .navigation__button-container {
            .background-button {
              left: 100%;
              transform: translateX(-99%);
            }
            .button1 {
              &:hover {
                &:hover {
                  color: #ff66c4;
                }
              }
            }
            .button2 {
              &:hover {
                &:hover {
                  color: #ff66c4;
                }
              }
            }
            .button3 {
              &:hover {
                &:hover {
                  color: #ffffff;
                }
              }
            }
          }
          .navigation__line {
            .triangle1 {
              fill: #1c1a25;
            }
            .triangle2 {
              fill: #1c1a25;
            }
            .triangle3 {
              fill: #ff66c4;
            }
          }
        }
      }
    }
  }
}
.story {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(13, 75, 158, 0) 0%, #0d4b9e 100%);
    width: 100%;
    height: 16.094vw;
    z-index: 3;
  }
  .story-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .story-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .story__container {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    .story__left-block {
      position: relative;
      width: 33.906vw;
      .stone {
        position: absolute;
        left: -13.542vw;
        top: 5.729vw;
        width: 54.271vw;
      }
      .story__title {
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 2.5vw;
        line-height: 3.542vw;
        color: #ffffff;
        span {
          color: #ff66c4;
        }
      }
      .story__subtitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.146vw;
        line-height: 1.667vw;
        letter-spacing: -0.02em;
        color: #ffffff;
        position: relative;
        width: 16.406vw;
        display: block;
        margin: 10.521vw 0 0 12.5vw;
        img {
          width: 4.167vw;
          position: absolute;
          bottom: -0.313vw;
          right: 4.479vw;
          transform: translateY(100%);
        }
      }
    }
    .story__right-block {
      width: 29.01vw;
      height: 37.188vw;
      background-image: url(../img/about/story/scroll.png);
      background-size: 100% 100%;
      padding: 5.573vw 1.823vw 5.573vw 2.708vw;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 26.042vw;
        height: 33.262vw;
        background: #59a3e4;
        filter: blur(1.563vw);
        display: block;
        z-index: -1;
      }
      img {
        content: url(../img/about/story/superlotl.png);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%);
        display: block;
        width: 32.552vw;
        height: auto;
        z-index: -2;
      }

      .description {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 0 1.563vw 0 0;
        display: flex;
        flex-direction: column;
        gap: 1.042vw;
        p {
          display: block;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 0.833vw;
          line-height: 1.25vw;
          letter-spacing: -0.02em;
          color: #07031f;
        }
        &::-webkit-scrollbar {
          width: 0.208vw;
        }

        &::-webkit-scrollbar-track {
          background-color: #07031f30;
          border-radius: 0.417vw;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 0.313vw #07031f;
          border-radius: 0.417vw;
        }
      }
    }
  }
}
.footer {
  overflow-y: hidden;
  // height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 12.5vw;
  padding: 5.99vw 0 3.125vw 0;
  .footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footer__container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer__left-block {
      .footer__title {
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 2.5vw;
        line-height: 3.542vw;
        color: #ffffff;
        width: 43.438vw;
        img {
          width: 27.917vw;
          height: auto;
        }
      }
      .footer__subtitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 0.938vw;
        line-height: 1.354vw;
        letter-spacing: -0.02em;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        margin: 1.563vw 0 0 0;
        gap: 0.417vw;
        a {
          color: #ff66c4;
        }
      }
    }
    .footer__mail {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.979vw;
      line-height: 2.396vw;
      text-align: right;
      letter-spacing: -0.02em;
      color: #ff66c4;
      display: flex;
      align-items: center;
      gap: 0.833vw;
      transform: translateY(-15%);
      img {
        width: 2.214vw;
        height: auto;
      }
    }
  }
  .social__container {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    .social__left-block {
      display: flex;
      gap: 2.083vw;
      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 0.625vw;
        line-height: 0.781vw;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
    .social__logo {
      width: 9.063vw;
      height: auto;
    }
    .social {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 1.042vw;
      a {
        text-decoration: none;
        svg {
          display: block;
          width: 2.083vw;
          height: auto;
          circle{
            transition: .35s fill;
          }
        }
        &:hover {
          svg {
            circle {
              fill: #ff66c4;
            }
            path {
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-aspect-ratio: 1920 / 860) and (min-width: 1281px) {
  .about,
  .charity,
  .roadmap,
  .story {
    height: 50.521vw;
  }
}

