@-webkit-keyframes about-logo-bg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(14.5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes about-logo-bg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(14.5%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.06);
  }
  20% {
    transform: scale(1.03);
  }
  30% {
    transform: scale(1.06);
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.06);
  }
  20% {
    transform: scale(1.03);
  }
  30% {
    transform: scale(1.06);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
}

a {
  outline: none;
  outline-style: none;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #0d4b9e;
  overflow: hidden;
  position: relative;
}

.container {
  width: 76.458vw;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  padding: 1.823vw 2.604vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-link .logo {
  width: 10.625vw;
  height: auto;
}
.header .header__right-block .open-menu {
  display: none;
}
.header .header__right-block .nav__wrapper .close-menu {
  display: none;
}
.header .header__right-block .nav__wrapper .nav {
  display: flex;
  gap: 2.083vw;
}
.header .header__right-block .nav__wrapper .nav li {
  position: relative;
}
.header .header__right-block .nav__wrapper .nav li .item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.729vw;
  line-height: 0.885vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: 0.35s color;
}
.header .header__right-block .nav__wrapper .nav li::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: #ff66c4;
  transition: 0.35s width;
}
.header .header__right-block .nav__wrapper .nav li:hover .item {
  color: #ff66c4;
}
.header .header__right-block .nav__wrapper .nav li:hover::after {
  width: 100%;
}

.about {
  position: relative;
  padding: 5.99vw 0 3.229vw 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
.about .logo-bg {
  position: absolute;
  top: 10.104vw;
  right: 10vw;
  width: 30vw;
  height: auto;
  opacity: 0.1;
  -webkit-animation: about-logo-bg 6s ease-in-out infinite;
          animation: about-logo-bg 6s ease-in-out infinite;
  z-index: 1;
}
.about .about-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.about .about__container {
  z-index: 1;
}
.about .about__container .about__title {
  font-family: "Wild World";
  font-weight: 500;
  font-size: 3.542vw;
  line-height: 4.583vw;
  color: #ffffff;
}
.about .about__container .about__subtitle {
  margin: 2.604vw 0 0 0;
  width: 44.115vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.146vw;
  line-height: 1.667vw;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.about .about__container .about__description {
  display: block;
  margin: 2.083vw 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.354vw;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.5;
}
.about .about__container .about__slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2.604vw 0 0 0;
}
.about .about__container .about__slider-wrapper .slider {
  display: flex;
  align-items: center;
  gap: 2.344vw;
}
.about .about__container .about__slider-wrapper .slider .button-prev,
.about .about__container .about__slider-wrapper .slider .button-next {
  padding: 0;
  margin: 0;
  width: 2.917vw;
  height: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 0.052vw solid #ffffff;
  border-radius: 0.417vw;
  transition: 0.3s color;
  transform: translateY(0.938vw);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s background ease-out, 0.25s border ease-out, 0.2s ease-in-out opacity;
}
.about .about__container .about__slider-wrapper .slider .button-prev img,
.about .about__container .about__slider-wrapper .slider .button-next img {
  width: 1.771vw;
  height: 0.521vw;
}
.about .about__container .about__slider-wrapper .slider .button-prev:hover,
.about .about__container .about__slider-wrapper .slider .button-next:hover {
  background: #ff66c4;
  border: 0.052vw solid #ff66c4;
}
.about .about__container .about__slider-wrapper .slider .button-prev.inactive,
.about .about__container .about__slider-wrapper .slider .button-next.inactive {
  opacity: 0.3;
}
.about .about__container .about__slider-wrapper .slider .button-prev.inactive:hover,
.about .about__container .about__slider-wrapper .slider .button-next.inactive:hover {
  border: 0.052vw solid #ffffff;
  background: none;
}
.about .about__container .about__slider-wrapper .slider .button-next img {
  transform: rotate(180deg);
}
.about .about__container .about__slider-wrapper .slider .slide-container {
  overflow: hidden;
  width: 33.646vw;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 0.521vw;
  transition: 0.35s transform ease-in-out;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide {
  flex-shrink: 0;
  width: 7.083vw;
  height: 7.083vw;
  padding: 0 0.938vw 0.677vw 0.938vw;
  display: flex;
  border-radius: 0.417vw 0.417vw 0vw 0vw;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  transition: 0.35s width ease-in-out, 0.35s height ease-in-out;
  position: relative;
  overflow: hidden;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.677vw;
  line-height: 1.146vw;
  letter-spacing: -0.02em;
  color: #ffffff;
  z-index: 1;
  transition: 0.35s transform, 0.35s;
  margin: auto 0 0 0;
  transform-origin: bottom left;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active {
  width: 8.958vw;
  height: 8.958vw;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active span {
  transform: scale(1.23);
}
.about .about__container .about__slider-wrapper .slider__description {
  width: 22.917vw;
}
.about .about__container .about__slider-wrapper .slider__description p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.354vw;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.about .about__container .about__slider-wrapper .slider__description p:last-child {
  color: #ff66c4;
}

.charity {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}
.charity .charity-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.charity .charity-axolots1 {
  position: absolute;
  bottom: 20%;
  left: 13.49vw;
  width: 7.813vw;
  height: auto;
  z-index: 2;
}
.charity .charity-axolots2 {
  position: absolute;
  bottom: 16%;
  left: 21.771vw;
  width: 12.396vw;
  z-index: 2;
}
.charity .heart-container {
  position: absolute;
  top: 0%;
  left: 19.01vw;
  width: 41.771vw;
  height: 40.313vw;
  z-index: 0;
}
.charity .heart-container .heart-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.charity .heart-container .heart-wrapper .heart {
  position: absolute;
  left: 2.396vw;
  top: 2.083vw;
  width: 37.396vw;
  height: auto;
  -webkit-animation: 1.3s bounce-in infinite;
          animation: 1.3s bounce-in infinite;
}
.charity .heart-container .heart-wrapper .planet {
  position: absolute;
  right: 0.313vw;
  top: 6.302vw;
  width: 34.051vw;
  height: auto;
}
.charity .charity__container {
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.charity .charity__container .charity__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 3.542vw;
  color: #ffffff;
  width: 35.417vw;
}
.charity .charity__container .charity__subtitle-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5vw 0 0 0;
  width: 22.917vw;
  gap: 1.406vw;
}
.charity .charity__container .charity__subtitle-wrapper p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.938vw;
  line-height: 1.354vw;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.charity .charity__container .charity__subtitle-wrapper p a {
  color: #ff66c4;
}

.roadmap {
  padding: 2.604vw 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #03010d;
}
.roadmap .roadmap__container {
  position: relative;
}
.roadmap .roadmap__container .roadmap__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 3.542vw;
  color: #ffffff;
  text-align: center;
}
.roadmap .roadmap__container #vr {
  position: relative;
  overflow: hidden;
}
.roadmap .roadmap__container #vr .code {
  position: absolute;
  top: 5.99vw;
  right: 9.115vw;
  width: 4.531vw;
  height: auto;
  mix-blend-mode: exclusion;
  z-index: 25;
}
.roadmap .roadmap__container #vr .mask {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
.roadmap .roadmap__container #vr .semirounds {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity;
}
.roadmap .roadmap__container #vr .semirounds2 {
  transform: scale(0.48);
  opacity: 0.3;
}
.roadmap .roadmap__container #vr .semirounds3 {
  transform: scale(0.2);
  opacity: 0;
}
.roadmap .roadmap__container #vr .road {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  transition: 0.75s ease-in-out transform;
}
.roadmap .roadmap__container #vr .vr-buble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.896vw;
  height: auto;
  opacity: 0;
  transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity;
}
.roadmap .roadmap__container #vr .vr-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
  width: 26.042vw;
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
  transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity, 0.75s ease-in-out top;
}
.roadmap .roadmap__container #vr .vr-text p {
  font-family: "Inter";
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.354vw;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.roadmap .roadmap__container #vr .vr-text p a {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr .text2,
.roadmap .roadmap__container #vr .text3 {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.roadmap .roadmap__container #vr .roadmap__navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.885vw;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 3.385vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .background-button {
  height: 100%;
  position: absolute;
  background: #ff66c4;
  left: 0%;
  transform: translateX(0%);
  transition: 0.75s width, 0.75s left, 0.75s transform;
  border-radius: 0.313vw;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .navigation__button {
  padding: 0.26vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.833vw;
  line-height: 0.833vw;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  border-radius: 0.313vw;
  background: none;
  border: none;
  transition: 0.35s ease-in-out color;
  z-index: 1;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .button2:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .button3:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__line {
  width: 37.552vw;
  height: auto;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__line path {
  transition: 0.75s ease-in-out fill;
}
.roadmap .roadmap__container #vr.step2 .semirounds1 {
  transform: scale(2);
}
.roadmap .roadmap__container #vr.step2 .semirounds2 {
  transform: scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step2 .semirounds3 {
  transform: scale(0.48);
  opacity: 0.3;
}
.roadmap .roadmap__container #vr.step2 .road {
  transform: scale(2);
}
.roadmap .roadmap__container #vr.step2 .vr-buble {
  transform: translate(-50%, -50%) scale(3.59);
  opacity: 0.5;
}
.roadmap .roadmap__container #vr.step2 .text1 {
  top: 0;
  transform: translate(-50%, -300%) scale(1);
}
.roadmap .roadmap__container #vr.step2 .text2 {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step2 .text3 {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .background-button {
  left: 50%;
  transform: translateX(-48%);
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .button1:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .button2:hover:hover {
  color: #ffffff;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .button3:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__line .triangle1 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__line .triangle2 {
  fill: #ff66c4;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__line .triangle3 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step3 .semirounds1 {
  transform: scale(2);
}
.roadmap .roadmap__container #vr.step3 .semirounds2 {
  transform: scale(2);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step3 .semirounds3 {
  transform: scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step3 .road {
  transform: scale(4);
}
.roadmap .roadmap__container #vr.step3 .vr-buble {
  transform: scale(24.7);
  opacity: 0.1;
}
.roadmap .roadmap__container #vr.step3 .text1 {
  top: 0;
  transform: translate(-50%, -300%) scale(1);
}
.roadmap .roadmap__container #vr.step3 .text2 {
  top: 0;
  transform: translate(-50%, -300%) scale(1);
}
.roadmap .roadmap__container #vr.step3 .text3 {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .background-button {
  left: 100%;
  transform: translateX(-99%);
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .button1:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .button2:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .button3:hover:hover {
  color: #ffffff;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__line .triangle1 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__line .triangle2 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__line .triangle3 {
  fill: #ff66c4;
}

.story {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(13, 75, 158, 0) 0%, #0d4b9e 100%);
  width: 100%;
  height: 16.094vw;
  z-index: 3;
}
.story .story-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
.story .story-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.story .story__container {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.story .story__container .story__left-block {
  position: relative;
  width: 33.906vw;
}
.story .story__container .story__left-block .stone {
  position: absolute;
  left: -13.542vw;
  top: 5.729vw;
  width: 54.271vw;
}
.story .story__container .story__left-block .story__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 3.542vw;
  color: #ffffff;
}
.story .story__container .story__left-block .story__title span {
  color: #ff66c4;
}
.story .story__container .story__left-block .story__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.146vw;
  line-height: 1.667vw;
  letter-spacing: -0.02em;
  color: #ffffff;
  position: relative;
  width: 16.406vw;
  display: block;
  margin: 10.521vw 0 0 12.5vw;
}
.story .story__container .story__left-block .story__subtitle img {
  width: 4.167vw;
  position: absolute;
  bottom: -0.313vw;
  right: 4.479vw;
  transform: translateY(100%);
}
.story .story__container .story__right-block {
  width: 29.01vw;
  height: 37.188vw;
  background-image: url(../img/about/story/scroll.png);
  background-size: 100% 100%;
  padding: 5.573vw 1.823vw 5.573vw 2.708vw;
  position: relative;
}
.story .story__container .story__right-block::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 26.042vw;
  height: 33.262vw;
  background: #59a3e4;
  filter: blur(1.563vw);
  display: block;
  z-index: -1;
}
.story .story__container .story__right-block img {
  content: url(../img/about/story/superlotl.png);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%);
  display: block;
  width: 32.552vw;
  height: auto;
  z-index: -2;
}
.story .story__container .story__right-block .description {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 0 1.563vw 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
}
.story .story__container .story__right-block .description p {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 1.25vw;
  letter-spacing: -0.02em;
  color: #07031f;
}
.story .story__container .story__right-block .description::-webkit-scrollbar {
  width: 0.208vw;
}
.story .story__container .story__right-block .description::-webkit-scrollbar-track {
  background-color: rgba(7, 3, 31, 0.1882352941);
  border-radius: 0.417vw;
}
.story .story__container .story__right-block .description::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.313vw #07031f;
  border-radius: 0.417vw;
}

.footer {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 12.5vw;
  padding: 5.99vw 0 3.125vw 0;
}
.footer .footer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .footer__container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__container .footer__left-block .footer__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 3.542vw;
  color: #ffffff;
  width: 43.438vw;
}
.footer .footer__container .footer__left-block .footer__title img {
  width: 27.917vw;
  height: auto;
}
.footer .footer__container .footer__left-block .footer__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.354vw;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 1.563vw 0 0 0;
  gap: 0.417vw;
}
.footer .footer__container .footer__left-block .footer__subtitle a {
  color: #ff66c4;
}
.footer .footer__container .footer__mail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.979vw;
  line-height: 2.396vw;
  text-align: right;
  letter-spacing: -0.02em;
  color: #ff66c4;
  display: flex;
  align-items: center;
  gap: 0.833vw;
  transform: translateY(-15%);
}
.footer .footer__container .footer__mail img {
  width: 2.214vw;
  height: auto;
}
.footer .social__container {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}
.footer .social__container .social__left-block {
  opacity: 0;
  display: flex;
  gap: 2.083vw;
}
.footer .social__container .social__left-block span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.625vw;
  line-height: 0.781vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .social__container .social__logo {
  width: 9.063vw;
  height: auto;
}
.footer .social__container .social {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1.042vw;
}
.footer .social__container .social a {
  text-decoration: none;
}
.footer .social__container .social a svg {
  display: block;
  width: 2.083vw;
  height: auto;
}
.footer .social__container .social a svg circle {
  transition: 0.35s fill;
}
.footer .social__container .social a:hover svg circle {
  fill: #ff66c4;
}
.footer .social__container .social a:hover svg path {
  fill: #ffffff;
}

@media only screen and (min-aspect-ratio: 1920/860) and (min-width: 1281px) {
  .about,
.charity,
.roadmap,
.story {
    height: 50.521vw;
  }
}/*# sourceMappingURL=1920about.css.map */