@-webkit-keyframes about-logo-bg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes about-logo-bg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.06);
  }
  20% {
    transform: scale(1.03);
  }
  30% {
    transform: scale(1.06);
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.06);
  }
  20% {
    transform: scale(1.03);
  }
  30% {
    transform: scale(1.06);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
}

a {
  outline: none;
  outline-style: none;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #0d4b9e;
  overflow: hidden;
}

.container {
  width: 1468px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  padding: 1.823vw 2.604vw;
  z-index: 10;
}
.header a .logo {
  width: 204px;
  height: auto;
}

.about {
  position: relative;
  padding: 115px 0 62px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
.about .logo-bg {
  position: absolute;
  top: 194px;
  right: 192px;
  width: 576px;
  height: auto;
  opacity: 0.1;
  -webkit-animation: about-logo-bg 6s ease-in-out infinite;
          animation: about-logo-bg 6s ease-in-out infinite;
  z-index: 1;
}
.about .about-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.about .about__container {
  z-index: 1;
}
.about .about__container .about__title {
  font-family: "Wild World";
  font-weight: 500;
  font-size: 68px;
  line-height: 88px;
  color: #ffffff;
}
.about .about__container .about__subtitle {
  margin: 50px 0 0 0;
  width: 847px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.about .about__container .about__description {
  display: block;
  margin: 40px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.5;
}
.about .about__container .about__slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px 0 0 0;
}
.about .about__container .about__slider-wrapper .slider {
  display: flex;
  align-items: center;
  gap: 45px;
}
.about .about__container .about__slider-wrapper .slider .button-prev,
.about .about__container .about__slider-wrapper .slider .button-next {
  padding: 0;
  margin: 0;
  width: 56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 8px;
  transition: 0.3s color;
  transform: translateY(18px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s background ease-out, 0.25s border ease-out, 0.2s ease-in-out opacity;
}
.about .about__container .about__slider-wrapper .slider .button-prev img,
.about .about__container .about__slider-wrapper .slider .button-next img {
  width: 34px;
  height: 10px;
}
.about .about__container .about__slider-wrapper .slider .button-prev:hover,
.about .about__container .about__slider-wrapper .slider .button-next:hover {
  background: #ff66c4;
  border: 1px solid #ff66c4;
}
.about .about__container .about__slider-wrapper .slider .button-prev.inactive,
.about .about__container .about__slider-wrapper .slider .button-next.inactive {
  opacity: 0.3;
}
.about .about__container .about__slider-wrapper .slider .button-prev.inactive:hover,
.about .about__container .about__slider-wrapper .slider .button-next.inactive:hover {
  border: 1px solid #ffffff;
  background: none;
}
.about .about__container .about__slider-wrapper .slider .button-next img {
  transform: rotate(180deg);
}
.about .about__container .about__slider-wrapper .slider .slide-container {
  overflow: hidden;
  width: 646px;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  transition: 0.35s transform ease-in-out;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide {
  flex-shrink: 0;
  width: 136px;
  height: 136px;
  padding: 0 18px 13px 18px;
  display: flex;
  border-radius: 8px 8px 0px 0px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  transition: 0.35s width ease-in-out, 0.35s height ease-in-out;
  position: relative;
  overflow: hidden;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #ffffff;
  z-index: 1;
  transition: 0.35s transform;
  transform-origin: bottom;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active {
  width: 172px;
  height: 172px;
}
.about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active span {
  transform: scale(1.23);
  transform-origin: bottom;
}
.about .about__container .about__slider-wrapper .slider__description {
  width: 440px;
}
.about .about__container .about__slider-wrapper .slider__description p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.about .about__container .about__slider-wrapper .slider__description p:last-child {
  color: #ff66c4;
}

.charity {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}
.charity .charity-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.charity .charity-axolots1 {
  position: absolute;
  bottom: 20%;
  left: 259px;
  width: 150px;
  height: auto;
  z-index: 2;
}
.charity .charity-axolots2 {
  position: absolute;
  bottom: 16%;
  left: 418px;
  width: 238px;
  z-index: 2;
}
.charity .heart-container {
  position: absolute;
  top: 0%;
  left: 365px;
  width: 802px;
  height: 774px;
  z-index: 0;
}
.charity .heart-container .heart-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.charity .heart-container .heart-wrapper .heart {
  position: absolute;
  left: 46px;
  top: 40px;
  width: 718px;
  height: auto;
  -webkit-animation: 1.3s bounce-in infinite;
          animation: 1.3s bounce-in infinite;
}
.charity .heart-container .heart-wrapper .planet {
  position: absolute;
  right: 6px;
  top: 121px;
  width: 653.78px;
  height: auto;
}
.charity .charity__container {
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.charity .charity__container .charity__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  color: #ffffff;
  width: 680px;
}
.charity .charity__container .charity__subtitle-wrapper {
  display: flex;
  flex-direction: column;
  padding: 96px 0 0 0;
  width: 440px;
  gap: 27px;
}
.charity .charity__container .charity__subtitle-wrapper p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.charity .charity__container .charity__subtitle-wrapper p a {
  color: #ff66c4;
}

.roadmap {
  padding: 50px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #03010d;
}
.roadmap .roadmap__container {
  position: relative;
}
.roadmap .roadmap__container .roadmap__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  color: #ffffff;
  text-align: center;
}
.roadmap .roadmap__container #vr {
  position: relative;
  overflow: hidden;
}
.roadmap .roadmap__container #vr .code {
  position: absolute;
  top: 115px;
  right: 175px;
  width: 87px;
  height: auto;
  mix-blend-mode: exclusion;
  border-radius: 10px;
  z-index: 25;
}
.roadmap .roadmap__container #vr .mask {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
.roadmap .roadmap__container #vr .semirounds {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity;
}
.roadmap .roadmap__container #vr .semirounds2 {
  transform: scale(0.48);
  opacity: 0.3;
}
.roadmap .roadmap__container #vr .semirounds3 {
  transform: scale(0.2);
  opacity: 0;
}
.roadmap .roadmap__container #vr .road {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  transition: 0.75s ease-in-out transform;
}
.roadmap .roadmap__container #vr .vr-buble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94px;
  height: auto;
  opacity: 0;
  transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity;
}
.roadmap .roadmap__container #vr .vr-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity, 0.75s ease-in-out top;
}
.roadmap .roadmap__container #vr .vr-text p {
  font-family: "Inter";
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.roadmap .roadmap__container #vr .vr-text p a {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr .text2,
.roadmap .roadmap__container #vr .text3 {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.roadmap .roadmap__container #vr .roadmap__navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 65px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .background-button {
  height: 100%;
  position: absolute;
  background: #ff66c4;
  left: 0%;
  transform: translateX(0%);
  transition: 0.75s width, 0.75s left, 0.75s transform;
  border-radius: 6px;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .navigation__button {
  padding: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  border-radius: 6px;
  background: none;
  border: none;
  transition: 0.35s ease-in-out color;
  z-index: 1;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .button2:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .button3:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__line {
  width: 721px;
  height: auto;
}
.roadmap .roadmap__container #vr .roadmap__navigation .navigation__line path {
  transition: 0.75s ease-in-out fill;
}
.roadmap .roadmap__container #vr.step2 .semirounds1 {
  transform: scale(2);
}
.roadmap .roadmap__container #vr.step2 .semirounds2 {
  transform: scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step2 .semirounds3 {
  transform: scale(0.48);
  opacity: 0.3;
}
.roadmap .roadmap__container #vr.step2 .road {
  transform: scale(2);
}
.roadmap .roadmap__container #vr.step2 .vr-buble {
  transform: translate(-50%, -50%) scale(3.59);
  opacity: 0.5;
}
.roadmap .roadmap__container #vr.step2 .text1 {
  top: 0;
  transform: translate(-50%, -300%) scale(1);
}
.roadmap .roadmap__container #vr.step2 .text2 {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step2 .text3 {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .background-button {
  left: 50%;
  transform: translateX(-48%);
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .button1:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .button2:hover:hover {
  color: #ffffff;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__button-container .button3:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__line .triangle1 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__line .triangle2 {
  fill: #ff66c4;
}
.roadmap .roadmap__container #vr.step2 .roadmap__navigation .navigation__line .triangle3 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step3 .semirounds1 {
  transform: scale(2);
}
.roadmap .roadmap__container #vr.step3 .semirounds2 {
  transform: scale(2);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step3 .semirounds3 {
  transform: scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step3 .road {
  transform: scale(4);
}
.roadmap .roadmap__container #vr.step3 .vr-buble {
  transform: scale(24.7);
  opacity: 0.1;
}
.roadmap .roadmap__container #vr.step3 .text1 {
  top: 0;
  transform: translate(-50%, -300%) scale(1);
}
.roadmap .roadmap__container #vr.step3 .text2 {
  top: 0;
  transform: translate(-50%, -300%) scale(1);
}
.roadmap .roadmap__container #vr.step3 .text3 {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .background-button {
  left: 100%;
  transform: translateX(-99%);
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .button1:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .button2:hover:hover {
  color: #ff66c4;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__button-container .button3:hover:hover {
  color: #ffffff;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__line .triangle1 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__line .triangle2 {
  fill: #1c1a25;
}
.roadmap .roadmap__container #vr.step3 .roadmap__navigation .navigation__line .triangle3 {
  fill: #ff66c4;
}

.story {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(13, 75, 158, 0) 0%, #0d4b9e 100%);
  width: 100%;
  height: 309px;
  z-index: 3;
}
.story .story-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
.story .story-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.story .story__container {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.story .story__container .story__left-block {
  position: relative;
  width: 651px;
}
.story .story__container .story__left-block .stone {
  position: absolute;
  left: -260px;
  top: 110px;
  width: 1042px;
}
.story .story__container .story__left-block .story__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  color: #ffffff;
}
.story .story__container .story__left-block .story__title span {
  color: #ff66c4;
}
.story .story__container .story__left-block .story__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #ffffff;
  position: relative;
  width: 315px;
  display: block;
  margin: 202px 0 0 240px;
}
.story .story__container .story__left-block .story__subtitle img {
  width: 80px;
  position: absolute;
  bottom: -6px;
  right: 86px;
  transform: translateY(100%);
}
.story .story__container .story__right-block {
  width: 557px;
  height: 714px;
  background-image: url(../img/about/story/scroll.png);
  background-size: 100% 100%;
  padding: 107px 35px 107px 52px;
  position: relative;
}
.story .story__container .story__right-block::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 638.63px;
  background: #59a3e4;
  filter: blur(30px);
  display: block;
  z-index: -1;
}
.story .story__container .story__right-block img {
  content: url(../img/about/story/superlotl.png);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%);
  display: block;
  width: 625px;
  height: auto;
  z-index: -2;
}
.story .story__container .story__right-block .description {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 0 30px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.story .story__container .story__right-block .description p {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #07031f;
}
.story .story__container .story__right-block .description::-webkit-scrollbar {
  width: 4px;
}
.story .story__container .story__right-block .description::-webkit-scrollbar-track {
  background-color: rgba(7, 3, 31, 0.1882352941);
  border-radius: 8px;
}
.story .story__container .story__right-block .description::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #07031f;
  border-radius: 8px;
}

.footer {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 240px;
  padding: 115px 0 60px 0;
}
.footer .footer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .footer__container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__container .footer__left-block .footer__title {
  font-family: "Wild World";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  color: #ffffff;
  width: 834px;
}
.footer .footer__container .footer__left-block .footer__title img {
  width: 536px;
  height: auto;
}
.footer .footer__container .footer__left-block .footer__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
  gap: 8px;
}
.footer .footer__container .footer__left-block .footer__subtitle a {
  color: #ff66c4;
}
.footer .footer__container .footer__mail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #ff66c4;
  display: flex;
  align-items: center;
  gap: 16px;
  transform: translateY(-15%);
}
.footer .footer__container .footer__mail img {
  width: 42.5px;
  height: auto;
}
.footer .social__container {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}
.footer .social__container .social__left-block {
  display: flex;
  gap: 40px;
}
.footer .social__container .social__left-block span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .social__container .social__logo {
  width: 174px;
  height: auto;
}
.footer .social__container .social {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
}
.footer .social__container .social a {
  text-decoration: none;
}
.footer .social__container .social a svg {
  display: block;
  width: 40px;
  height: auto;
}
.footer .social__container .social a svg circle {
  transition: 0.35s fill;
}
.footer .social__container .social a:hover svg circle {
  fill: #ff66c4;
}
.footer .social__container .social a:hover svg path {
  fill: #ffffff;
}

@media only screen and (min-aspect-ratio: 1920/860) and (min-width: 1201px) {
  .about,
.charity,
.roadmap,
.story {
    height: 970px;
  }
}/*# sourceMappingURL=1920about.css.map */