@media only screen and (max-width: 600px) {
  @-webkit-keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-448vw);
    }
  }
  @keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-448vw);
    }
  }
  @-webkit-keyframes main-button375 {
    0% {
      margin-top: 0vw;
    }
    50% {
      margin-top: 8vw;
    }
    100% {
      margin-top: 0vw;
    }
  }
  @keyframes main-button375 {
    0% {
      margin-top: 0vw;
    }
    50% {
      margin-top: 8vw;
    }
    100% {
      margin-top: 0vw;
    }
  }
  @-webkit-keyframes arrow375 {
    0% {
      margin-bottom: 1%;
    }
    50% {
      margin-bottom: 0%;
    }
    100% {
      margin-bottom: 1%;
    }
  }
  @keyframes arrow375 {
    0% {
      margin-bottom: 1%;
    }
    50% {
      margin-bottom: 0%;
    }
    100% {
      margin-bottom: 1%;
    }
  }
  .container {
    width: 89.333vw;
  }
  .main {
    height: auto;
    background-image: url(../img/main/main-background375.png);
    padding: 5.333vw 5.333vw 0 5.333vw;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .main .top-smoke {
    width: 240.072vw;
    height: 186.721vw;
    left: -80.161vw;
    top: -13.792vw;
  }
  .main .buttom-smoke {
    width: 146.347vw;
    height: 93.157vw;
    left: -29.547vw;
    top: 83.079vw;
  }
  .main .right-smoke {
    display: none;
  }
  .main .water {
    width: 896vw;
    height: 51.733vw;
    background-size: 448vw 51.733vw;
    bottom: auto;
    top: 105.333vw;
    -webkit-animation: 15s water1024 linear infinite;
            animation: 15s water1024 linear infinite;
  }
  .main .water-blur1 {
    top: 110.133vw;
    height: 43.2vw;
  }
  .main .main__container {
    height: 213.333vw;
  }
  .main .main__container .main-title {
    top: 86.667vw;
    font-size: 8vw;
    line-height: 10.667vw;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    bottom: auto;
  }
  .main .main__container .main-subtitle {
    bottom: auto;
    top: 110.867vw;
    width: 100%;
    left: 0;
    font-size: 4.8vw;
    line-height: 6.933vw;
  }
  .main .main__container .main-subtitle a {
    border-radius: 1.805vw;
    padding: 0 1.333vw;
    height: 8.001vw;
  }
  .main .main__container .main-inbox {
    bottom: auto;
    top: 45.333vw;
    width: 78.4vw;
    padding: 3.467vw 4.8vw 9.333vw 4.8vw;
  }
  .main .main__container .main-inbox p {
    font-size: 3.733vw;
    line-height: 5.333vw;
  }
  .main .main__container .populacion-container {
    bottom: auto;
    top: 148.533vw;
    left: 0;
  }
  .main .main__container .populacion-container .main-populacion {
    font-size: 9.067vw;
    line-height: 11.733vw;
    gap: 3.733vw;
  }
  .main .main__container .populacion-container .main-populacion span {
    font-size: 3.733vw;
    line-height: 6.4vw;
    height: 9.067vw;
    border-radius: 2.133vw;
    padding: 0 3.468vw;
  }
  .main .main__container .populacion-container strong {
    margin: 3.933vw 0 0 0;
    font-size: 3.733vw;
    line-height: 5.333vw;
    width: 100%;
  }
  .main .main__container .populacion-container .main-button {
    display: none;
  }
  .beginning {
    width: 100%;
    height: auto;
    z-index: 0;
  }
  .beginning .water-blur {
    display: none;
  }
  .beginning .bubbles1 {
    width: 13.066vw;
  }
  .beginning .bubbles2 {
    width: 20.267vw;
  }
  .beginning .bubbles3 {
    width: 12.001vw;
  }
  .beginning .bubbles4 {
    width: 12.534vw;
  }
  .beginning .beginning-wrapper {
    height: auto;
  }
  .beginning .beginning-wrapper .begining-blur {
    height: 81.333vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .beginning .beginning-wrapper .beginning-container {
    height: 256.8vw;
    display: block;
  }
  .beginning .beginning-wrapper .beginning-container .beginning-background {
    top: auto;
    bottom: 0;
  }
  .beginning .beginning__container {
    height: auto;
    transform: translateY(0);
    align-items: flex-start;
  }
  .beginning .beginning__container::before {
    left: 3.6vw;
    top: 60vw;
    height: 2.133vw;
    width: 2.133vw;
    border-left: 0.26vw solid #ffffff;
    border-bottom: 0.26vw solid #ffffff;
  }
  .beginning .beginning__container::after {
    right: 3.6vw;
    top: 60vw;
    height: 2.133vw;
    width: 2.133vw;
    border-left: 0.26vw solid #ffffff;
    border-bottom: 0.26vw solid #ffffff;
  }
  .beginning .beginning__container .beginning__slider {
    width: 89.867vw;
    height: 89.867vw;
    transform: rotate(180deg) translateY(0);
    margin: 5.333vw 0 0 0;
  }
  .beginning .beginning__container .beginning__slider::before {
    right: 4vw;
    left: auto;
    top: auto;
    bottom: 10.133vw;
    height: 2.133vw;
    width: 2.133vw;
    border-left: 0.533vw solid #ffffff;
    border-bottom: 0.533vw solid #ffffff;
    transform: rotate(135deg);
    -webkit-animation: 1.5s arrow375 linear infinite;
            animation: 1.5s arrow375 linear infinite;
  }
  .beginning .beginning__container .beginning__slider::after {
    left: 4vw;
    right: auto;
    top: auto;
    bottom: 10.133vw;
    transform: rotate(135deg);
    height: 2.133vw;
    width: 2.133vw;
    border-left: 0.533vw solid #ffffff;
    border-bottom: 0.533vw solid #ffffff;
    -webkit-animation: 1.5s arrow375 linear infinite;
            animation: 1.5s arrow375 linear infinite;
  }
  .beginning .beginning__container .beginning__slider .circl-background {
    width: 89.867vw;
    height: 89.867vw;
    background-size: 89.867vw 89.867vw;
  }
  .beginning .beginning__container .beginning__slider .triangle {
    width: 66.667vw;
  }
  .beginning .beginning__container .beginning__slider .gif {
    width: 65.333vw;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .beginning .beginning__container .beginning__slider .circl {
    width: 17.067vw;
    height: 17.067vw;
    font-size: 3.229vw;
    line-height: 4.8vw;
    transform: rotate(180deg);
  }
  .beginning .beginning__container .beginning__slider .circl.top {
    top: 65.5%;
    left: 85%;
  }
  .beginning .beginning__container .beginning__slider .circl.active {
    top: -9.5%;
    left: 40.5%;
  }
  .beginning .beginning__container .beginning__slider .circl.left {
    top: 65.5%;
    left: -4%;
  }
  .beginning .beginning__container .beginning__right-block {
    position: relative;
    right: auto;
    left: 0;
    top: 0;
    width: 100%;
  }
  .beginning .beginning__container .beginning__right-block h2 {
    position: relative;
    font-size: 10.133vw;
    line-height: 12.8vw;
    gap: 4.001vw;
    flex-direction: column;
  }
  .beginning .beginning__container .beginning__right-block h2 span {
    position: relative;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0 3.2vw;
    font-size: 3.733vw;
    line-height: 6.4vw;
    border-radius: 2.133vw;
    width: 37.333vw;
    height: 9.333vw;
  }
  .beginning .beginning__container .beginning__right-block strong {
    top: 375%;
    margin: 0;
    font-size: 4vw;
    line-height: 6.4vw;
    width: 100%;
    letter-spacing: 0.025em;
  }
  .beginning .beginning__container .beginning__right-block strong span {
    margin: 6.133vw 0 0 0;
  }
  .team {
    padding: 0;
    height: 177.6vw;
  }
  .team .team-background {
    left: -7.468vw;
    top: -18.133vw;
  }
  .team .slider {
    width: 46%;
  }
  .team .slider .slider-wrapper {
    height: 77.333vw;
    align-items: flex-start;
    width: 100%;
  }
  .team .slider .slider-wrapper #c1 {
    width: 100%;
    height: 103%;
  }
  .team .slider .slider-wrapper .slide {
    width: 52.016vw;
    top: 23.733vw;
    top: 12.533vw;
  }
  .team .slider .slider-wrapper .slide.active {
    width: 52.016vw;
    left: 1%;
  }
  .team .slider .slider-wrapper .slide.centr {
    opacity: 0;
    width: 0;
    left: -50%;
    top: 50%;
  }
  .team .slider .slider-wrapper .slide.none {
    transform: translateY(-60%);
    left: 55%;
  }
  .team .capsule {
    width: 78.768vw;
    height: 103.003vw;
    transform: translate(-79%, -39%);
  }
  .team .capsule video {
    width: 39.829vw;
    height: 86.208vw;
  }
  .team .capsule::before {
    width: 45.032vw;
    height: 80.261vw;
  }
  .team .capsule::after {
    width: 78.768vw;
    height: 103.003vw;
  }
  .team .team__container {
    top: 17.2%;
    justify-content: end;
  }
  .team .team__container .team__title {
    position: absolute;
    left: 0;
    top: -11.2vw;
    font-size: 10.133vw;
    line-height: 15.467vw;
    width: 100%;
  }
  .team .team__container .ridht-block {
    flex-direction: column;
    margin: 24vw 0 0 0;
    align-items: flex-end;
    width: 41.867vw;
  }
  .team .team__container .ridht-block .button-container {
    gap: 2.668vw;
    margin: 0 auto 0 0;
  }
  .team .team__container .ridht-block .button-container .button {
    width: 15.733vw;
    height: 6.667vw;
    border: 1px solid #ffffff;
    border-radius: 1.75vw;
  }
  .team .team__container .ridht-block .button-container .button.active {
    border: 1px solid #ffffff;
  }
  .team .team__container .ridht-block .button-container .button:hover {
    border: 1px solid #ff66c4;
  }
  .team .team__container .ridht-block .button-container .button img {
    width: 12.321vw;
  }
  .team .team__container .ridht-block span {
    margin: 9.333vw auto 0 0;
    font-size: 5.867vw;
    line-height: 7.467vw;
  }
  .team .team__container .ridht-block strong {
    margin: 2.133vw auto 0 0;
    font-size: 4.267vw;
    line-height: 5.067vw;
    letter-spacing: -0.02em;
  }
  .team .team__container .ridht-block p {
    margin: 5.067vw auto 0 0;
    font-size: 4vw;
    line-height: 5.333vw;
  }
  .team .team__container .ridht-block .social {
    margin: 5.867vw auto 0 0;
    gap: 3.2vw;
  }
  .team .team__container .ridht-block .social a {
    width: 9.6vw;
    height: 9.6vw;
  }
  /*---*/
  .btn {
    font-size: 4.8vw;
    width: 28.65vw;
    padding: 2.7vw 6.5vw;
    border-radius: 2.133vw;
  }
  .btn::before, .btn::after {
    width: 14.4vw;
    height: 4.267vw;
    background-size: 14.4vw auto;
  }
  .fade-wrapper {
    margin-top: 0;
  }
  .fade-wrapper {
    margin-top: 0;
  }
  .mint-test {
    width: 100vw;
    flex-direction: column;
  }
  #mintwaterway {
    height: auto;
  }
  #mintwaterway #mint-waterway-wrap {
    position: static;
    height: auto;
  }
  #waterway {
    height: auto;
    width: 100vw;
    background-image: url("../img/waterway/waterway-bg-mob.png");
    background-size: cover;
    background-position: center -6.667vw;
    background-repeat: no-repeat;
    padding: 0 0 29.333vw 0;
  }
  #waterway #waterway-bg {
    z-index: 1;
    display: none;
  }
  #waterway #waterway-blur {
    z-index: 1;
    width: 100%;
    height: 75.733vw;
    opacity: 1 !important;
    bottom: 0;
  }
  #waterway .container {
    flex-direction: column;
  }
  #waterway .container::before {
    content: "INK the Metaverse";
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 3.733vw;
    line-height: 6.4vw;
    letter-spacing: -0.02em;
    z-index: 2;
    color: #ffffff;
    display: flex;
    padding: 0 3.733vw;
    border-radius: 2.133vw;
    height: 9.6vw;
    border-left: 1px solid #ff66c4;
    border-right: 1px solid #ff66c4;
    align-items: center;
    margin: 29.333vw 0 0 auto;
  }
  #waterway .waterway-tabs {
    display: none;
  }
  #waterway .waterway-texts {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 9;
  }
  #waterway .waterway-texts::before, #waterway .waterway-texts::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }
  #waterway .waterway-texts #waterway-text-1,
#waterway .waterway-texts #waterway-text-2,
#waterway .waterway-texts #waterway-text-3,
#waterway .waterway-texts #waterway-text-4 {
    position: relative;
    padding: 41.6vw 0 0 0;
    height: auto;
    margin: 0 0 12vw 0;
  }
  #waterway .waterway-texts #waterway-text-1::before,
#waterway .waterway-texts #waterway-text-2::before,
#waterway .waterway-texts #waterway-text-3::before,
#waterway .waterway-texts #waterway-text-4::before {
    font-family: "Wild World";
    font-style: normal;
    font-weight: 500;
    font-size: 8.533vw;
    line-height: 15.467vw;
    color: #ffffff;
  }
  #waterway .waterway-texts #waterway-text-1::after,
#waterway .waterway-texts #waterway-text-2::after,
#waterway .waterway-texts #waterway-text-3::after,
#waterway .waterway-texts #waterway-text-4::after {
    content: "";
    position: absolute;
    width: 34.667vw;
    height: 37.333vw;
    background-size: 100%;
    top: 7.2vw;
    right: auto;
    left: 0;
    -webkit-animation: 4s bubbles-waterway ease-in-out infinite;
            animation: 4s bubbles-waterway ease-in-out infinite;
  }
  #waterway .waterway-texts #waterway-text-1::before {
    content: "Season 1";
  }
  #waterway .waterway-texts #waterway-text-1::after {
    background-image: url(../img/waterway/bubble-mobile.png);
  }
  #waterway .waterway-texts #waterway-text-2::before {
    content: "Expression";
  }
  #waterway .waterway-texts #waterway-text-2::after {
    background-image: url(../img/waterway/bubble-mobile2.png);
  }
  #waterway .waterway-texts #waterway-text-3::before {
    content: "Purpose";
  }
  #waterway .waterway-texts #waterway-text-3::after {
    background-image: url(../img/waterway/bubble-mobile3.png);
  }
  #waterway .waterway-texts #waterway-text-4::before {
    content: "Forging";
  }
  #waterway .waterway-texts #waterway-text-4::after {
    background-image: url(../img/waterway/bubble-mobile4.png);
  }
  #waterway .waterway-texts .waterway-title {
    font-size: 5.333vw;
    line-height: 7.467vw;
    margin: 1.067vw 0 6.933vw 0;
  }
  #waterway .waterway-texts .waterway-title br {
    display: block;
  }
  #waterway .waterway-texts ul {
    gap: 3.2vw;
  }
  #waterway .waterway-texts ul li {
    gap: 3.2vw;
    font-size: 4vw;
    line-height: 6.4vw;
  }
  #waterway .waterway-texts ul li::before {
    font-size: 2.667vw;
    line-height: 5.6vw;
  }
  #waterway .waterway-texts ul li a {
    font-size: 4vw;
    line-height: 6.4vw;
  }
  #waterway .waterway-texts p {
    font-size: 5.333vw;
    line-height: 1.5;
    margin-top: 4vw;
    letter-spacing: -0.12vw;
    width: 100%;
  }
  #waterway .waterway-texts a {
    width: 24.6vw;
    height: 6.8vw;
    border-width: 0.267vw;
    border-radius: 1.6vw;
    font-size: 5.333vw;
    line-height: 8vw;
  }
  .waterway-maintitle {
    font-size: 5.333vw;
    padding: 1.867vw 3.2vw;
    border-radius: 2.133vw;
  }
  footer .faq {
    height: auto;
    padding: 0 0 32vw 0;
  }
  footer .faq .main-title {
    font-size: 12.8vw;
  }
  .accordion-wrap {
    flex-direction: column;
  }
  .accordion-item {
    width: 100%;
  }
  .accordion-title {
    font-size: 3.733vw;
    line-height: 4.8vw;
    padding: 5.333vw 5.333vw 5.333vw 10.667vw;
  }
  .accordion-title::before {
    width: 0.533vw;
    height: 3.2vw;
  }
  .accordion-title::after {
    width: 3.2vw;
    height: 0.533vw;
  }
  footer .footer-light {
    width: 175vw;
    left: -28vw;
    top: -4vw;
  }
  footer .faq .main-title {
    font-size: 10.133vw;
    line-height: 15.467vw;
    margin: 0 0 2.667vw 0;
  }
  .accordion-title {
    font-size: 4.267vw;
    line-height: 6.4vw;
    padding: 4.533vw 5.333vw 4.533vw 10.133vw;
  }
  .accordion-title::before {
    width: 0.533vw;
    height: 3.2vw;
    left: 4.267vw;
  }
  .accordion-title::after {
    width: 3.2vw;
    height: 0.533vw;
    left: 4.267vw;
  }
  .accordion-content {
    font-size: 4.267vw;
    line-height: 6.4vw;
  }
  .footer {
    padding: 0 0 12.8vw 0;
  }
  .footer .faq {
    height: auto;
  }
  .footer .f-main-title {
    font-size: 8.533vw;
    line-height: 12.8vw;
  }
  .footer .join-bot {
    margin: 0 0 1.333vw 0;
  }
  .footer .join-bot > span {
    font-size: 10.133vw;
    line-height: 12.267vw;
  }
  .footer .join-bot > img {
    width: 29.067vw;
    margin: 0 0 0 8vw;
  }
  .footer .socials {
    flex-direction: column;
    margin: 0 0 13vw 0;
    gap: 4vw;
  }
  .footer .socials .btn {
    font-size: 4.267vw;
    gap: 3.2vw;
    padding: 4vw 5.867vw;
    border-radius: 2.133vw;
  }
  .footer .socials .btn::before, .footer .socials .btn::after {
    width: 4.267vw;
  }
  .footer .socials .btn img {
    width: 5.333vw;
  }
  .footer .footer__block-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__block-wrapper .terms {
    gap: 8vw;
    margin: 0 0 6.933vw 0;
  }
  .footer .footer__block-wrapper .terms a {
    font-size: 3.2vw;
    gap: 3.733vw;
  }
  .footer .footer__block-wrapper .terms a .btn {
    font-size: 4.8vw;
    gap: 3.2vw;
    padding: 5.067vw 5.867vw;
  }
  .footer .footer__block-wrapper .terms a .btn img {
    margin: 0;
    width: 5.333vw;
  }
  .footer .footer__block-wrapper .terms a .btn::before, .footer .footer__block-wrapper .terms a .btn::after {
    width: 4.267vw;
  }
  .footer .footer__block-wrapper .terms a .btn::before {
    left: 0;
  }
  .footer .footer__block-wrapper .terms a .btn::after {
    right: 0;
  }
  .footer .footer__block-wrapper .terms a .btn > span:nth-child(1) {
    display: none;
  }
  .footer .footer__block-wrapper .terms .terms {
    gap: 10.667vw;
  }
  .footer .footer__block-wrapper .terms .terms a {
    font-size: 3.2vw;
    line-height: 4vw;
  }
  .footer .footer__block-wrapper .terms .powered a img {
    width: 45.867vw;
  }
  #mint {
    width: 100%;
    height: 229.333vw;
  }
  #mint .main-text__container {
    margin: 85vw 0 0 0;
    width: 100%;
    gap: 4vw;
  }
  #mint img.bg {
    top: 8.533vw;
    left: 0;
    width: 252vw;
  }
  #mint .anime-circle {
    top: 42.667vw;
    bottom: auto;
    left: -13.75vw;
    width: 91.2vw;
    height: 108.533vw;
  }
  #mint .anime-circle .wrapper-circle .character {
    width: 98.5vw;
  }
  #mint .container {
    height: 100%;
    margin-top: auto;
    display: block;
  }
  #mint .container .btn {
    position: relative;
    font-size: 4.267vw;
    line-height: 4.8vw;
    width: 48vw;
    margin: 10.667vw 0 0 0;
    height: 14.4vw;
    border-radius: 2.133vw;
  }
  #mint .container .btn::before, #mint .container .btn::after {
    width: 8.267vw;
  }
  #mint .main-title {
    font-size: 10.133vw;
    line-height: 12.8vw;
    margin: 25.533vw 0 7.2vw 0;
  }
  #mint .main-text {
    font-size: 4vw;
    line-height: 6.4vw;
    letter-spacing: -0.02em;
  }
  .footer .socials {
    flex-direction: column;
  }
}/*# sourceMappingURL=375.css.map */