@media only screen and (max-width: 600px) {
  @keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-448vw);
    }
  }

  @keyframes main-button375 {
    0% {
      margin-top: 0vw;
    }
    50% {
      margin-top: 8vw;
    }
    100% {
      margin-top: 0vw;
    }
  }
  @keyframes arrow375 {
    0% {
      margin-bottom: 1%;
    }
    50% {
      margin-bottom: 0%;
    }
    100% {
      margin-bottom: 1%;
    }
  }

  .container {
    width: 89.333vw;
  }
  .main {
    height: auto;
    background-image: url(../img/main/main-background375.png);
    padding: 5.333vw 5.333vw 0 5.333vw;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    .top-smoke {
      width: 240.072vw;
      height: 186.721vw;
      left: -80.161vw;
      top: -13.792vw;
    }
    .buttom-smoke {
      width: 146.347vw;
      height: 93.157vw;
      left: -29.547vw;
      top: 83.079vw;
    }
    .right-smoke {
      display: none;
    }
    .water {
      width: 896vw;
      height: 51.733vw;
      background-size: 448vw 51.733vw;

      bottom: auto;
      top: 105.333vw;
      animation: 15s water1024 linear infinite;
    }
    .water-blur1 {
      top: 110.133vw;
      height: 43.2vw;
    }
    .header {
      .header__logo {
        width: 50.667vw;
      }
      .header__right-block {
        display: none;
      }
    }
    .main__container {
      height: 213.333vw;
      .main-title {
        top: 86.667vw;

        font-size: 8vw;
        line-height: 10.667vw;
        width: min-content;
        bottom: auto;
      }
      .main-subtitle {
        bottom: auto;
        top: 110.867vw;
        width: 100%;
        left: 0;
        font-size: 4.8vw;
        line-height: 6.933vw;
        a {
          border-radius: 1.805vw;
          padding: 0 1.333vw;
          height: 8.001vw;
        }
      }
      .main-inbox {
        bottom: auto;
        top: 45.333vw;
        width: 78.4vw;
        padding: 3.467vw 4.8vw 9.333vw 4.8vw;
        p {
          font-size: 3.733vw;
          line-height: 5.333vw;
        }
      }
      .populacion-container {
        bottom: auto;
        top: 148.533vw;
        left: 0;
        .main-populacion {
          font-size: 9.067vw;
          line-height: 11.733vw;
          gap: 3.733vw;
          span {
            font-size: 3.733vw;
            line-height: 6.4vw;
            height: 9.067vw;
            border-radius: 2.133vw;
            padding: 0 3.468vw;
          }
        }
        strong {
          margin: 3.933vw 0 0 0;
          font-size: 3.733vw;
          line-height: 5.333vw;
          width: 100%;
        }
        .main-button {
          display: none;
        }
      }
    }
  }
  .beginning {
    width: 100%;
    height: auto;
    z-index: 0;
    .water-blur {
      display: none;
      // top: -4%;
    }
    .bubbles1 {
      width: 13.066vw;
    }
    .bubbles2 {
      width: 20.267vw;
    }
    .bubbles3 {
      width: 12.001vw;
    }
    .bubbles4 {
      width: 12.534vw;
    }
    .beginning-wrapper {
      height: auto;
      .begining-blur {
        height: 81.333vw;
        object-fit: cover;
      }

      .beginning-container {
        height: 256.8vw;
        display: block;
        .beginning-background {
          top: auto;
          bottom: 0;
        }
      }
    }
    .beginning__container {
      height: auto;
      transform: translateY(0);
      align-items: flex-start;
      &::before {
        left: 3.6vw;
        top: 60vw;
        height: 2.133vw;
        width: 2.133vw;
        border-left: 0.26vw solid #ffffff;
        border-bottom: 0.26vw solid #ffffff;
      }
      &::after {
        right: 3.6vw;
        top: 60vw;
        height: 2.133vw;
        width: 2.133vw;
        border-left: 0.26vw solid #ffffff;
        border-bottom: 0.26vw solid #ffffff;
      }
      .beginning__slider {
        width: 89.867vw;
        height: 89.867vw;
        transform: rotate(180deg) translateY(0);
        margin: 5.333vw 0 0 0;
        &::before {
          right: 4vw;
          left: auto;
          top: auto;
          bottom: 10.133vw;
          height: 2.133vw;
          width: 2.133vw;
          border-left: 0.533vw solid #ffffff;
          border-bottom: 0.533vw solid #ffffff;
          transform: rotate(135deg);
          animation: 1.5s arrow375 linear infinite;
        }
        &::after {
          left: 4vw;
          right: auto;
          top: auto;
          bottom: 10.133vw;
          transform: rotate(135deg);
          height: 2.133vw;
          width: 2.133vw;
          border-left: 0.533vw solid #ffffff;
          border-bottom: 0.533vw solid #ffffff;
          animation: 1.5s arrow375 linear infinite;
        }
        .circl-background {
          width: 89.867vw;
          height: 89.867vw;
          background-size: 89.867vw 89.867vw;
        }
        .triangle {
          width: 66.667vw;
        }
        .gif {
          width: 65.333vw;
          transform: translate(-50%, -50%) rotate(180deg);
        }
        .circl {
          width: 17.067vw;
          height: 17.067vw;
          font-size: 3.229vw;
          line-height: 4.8vw;
          transform: rotate(180deg);
          &.top {
            top: 65.5%;
            left: 85%;
          }
          &.active {
            top: -9.5%;
            left: 40.5%;
          }
          &.left {
            top: 65.5%;
            left: -4%;
          }
        }
      }
      .beginning__right-block {
        position: relative;
        right: auto;
        left: 0;
        top: 0;
        width: 100%;
        h2 {
          position: relative;
          font-size: 10.133vw;
          line-height: 12.8vw;
          gap: 4.001vw;
          flex-direction: column;
          span {
            position: relative;
            right: 0;
            top: 0;
            margin: 0;
            padding: 0 3.2vw;
            font-size: 3.733vw;
            line-height: 6.4vw;
            border-radius: 2.133vw;
            width: 37.333vw;
            height: 9.333vw;
          }
        }
        strong {
          top: 375%;
          margin: 0;
          font-size: 4vw;
          line-height: 6.4vw;
          width: 100%;
          letter-spacing: 0.025em;
          span {
            margin: 6.133vw 0 0 0;
          }
        }
      }
    }
  }
  .team {
    padding: 0;
    height: 177.6vw;
    .team-background {
      left: -7.468vw;
      top: -18.133vw;
    }
    .slider {
      width: 46%;
      .slider-wrapper {
        height: 77.333vw;
        align-items: flex-start;
        width: 100%;

        #c1 {
          width: 100%;
          height: 103%;
        }
        .slide {
          width: 52.016vw;
          top: 23.733vw;
          top: 12.533vw;
          &.active {
            width: 52.016vw;
            left: 1%;
          }
          &.centr {
            opacity: 0;
            width: 0;
            left: -50%;
            top: 50%;
          }
          &.none {
            transform: translateY(-60%);
            left: 55%;
          }
        }
      }
    }
    .capsule {
      width: 78.768vw;
      height: 103.003vw;
      transform: translate(-79%, -39%);
      video {
        width: 39.829vw;
        height: 86.208vw;
      }
      &::before {
        width: 45.032vw;
        height: 80.261vw;
      }
      &::after {
        width: 78.768vw;
        height: 103.003vw;
      }
    }
    .team__container {
      top: 17.2%;
      justify-content: end;
      .team__title {
        position: absolute;
        left: 0;
        top: -11.2vw;
        font-size: 10.133vw;
        line-height: 15.467vw;
        width: 100%;
      }
      .ridht-block {
        flex-direction: column;
        margin: 24vw 0 0 0;
        align-items: flex-end;
        width: 41.867vw;
        .button-container {
          gap: 2.668vw;
          margin: 0 auto 0 0;
          .button {
            width: 15.733vw;
            height: 6.667vw;
            border: 1px solid #ffffff;
            border-radius: 1.75vw;
            &.active {
              border: 1px solid #ffffff;
            }
            &:hover {
              border: 1px solid #ff66c4;
            }
            img {
              width: 12.321vw;
            }
          }
        }
        span {
          margin: 9.333vw auto 0 0;
          font-size: 5.867vw;
          line-height: 7.467vw;
        }
        strong {
          margin: 2.133vw auto 0 0;
          font-size: 4.267vw;
          line-height: 5.067vw;
          letter-spacing: -0.02em;
        }
        p {
          margin: 5.067vw auto 0 0;
          font-size: 4vw;
          line-height: 5.333vw;
        }
        .social {
          margin: 5.867vw auto 0 0;
          gap: 3.2vw;
          a {
            width: 9.6vw;
            height: 9.6vw;
          }
        }
      }
    }
  }

  /*---*/

  .btn {
    font-size: 4.8vw;
    width: 28.65vw;
    padding: 2.7vw 6.5vw;
    border-radius: 2.133vw;
    &::before,
    &::after {
      width: 14.4vw;
      height: 4.267vw;
      background-size: 14.4vw auto;
    }
  }

  .fade-wrapper {
    margin-top: 0;
  }

  .fade-wrapper {
    margin-top: 0;
  }

  .mint-test {
    width: 100vw;
    flex-direction: column;
  }

  #mintwaterway {
    height: auto;
    #mint-waterway-wrap {
      position: static;
      height: auto;
    }
  }

  #waterway {
    height: auto;
    width: 100vw;
    background-image: url("../img/waterway/waterway-bg-mob.png");
    background-size: cover;
    background-position: center -6.667vw;
    background-repeat: no-repeat;
    padding: 0 0 29.333vw 0;
    #waterway-bg {
      z-index: 1;
      display: none;
    }
    #waterway-blur {
      z-index: 1;
      width: 100%;
      height: 75.733vw;
      opacity: 1 !important;
      bottom: 0;
    }
    .container {
      flex-direction: column;
      &::before {
        content: "INK the Metaverse";
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 3.733vw;
        line-height: 6.4vw;
        letter-spacing: -0.02em;
        z-index: 2;
        color: #ffffff;
        display: flex;
        padding: 0 3.733vw;
        border-radius: 2.133vw;
        height: 9.6vw;
        border-left: 1px solid #ff66c4;
        border-right: 1px solid #ff66c4;
        align-items: center;
        margin: 29.333vw 0 0 auto;
      }
    }
    .waterway-tabs {
      display: none;
    }
    .waterway-texts {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 9;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: -1;
      }

      #waterway-text-1,
      #waterway-text-2,
      #waterway-text-3,
      #waterway-text-4 {
        position: relative;
        padding: 41.6vw 0 0 0;
        height: auto;
        margin: 0 0 12vw 0;
        &::before {
          font-family: "Wild World";
          font-style: normal;
          font-weight: 500;
          font-size: 8.533vw;
          line-height: 15.467vw;
          color: #ffffff;
        }
        &::after {
          content: "";
          position: absolute;
          width: 34.667vw;
          height: 37.333vw;

          background-size: 100%;
          top: 7.2vw;
          right: auto;
          left: 0;
          animation: 4s bubbles-waterway ease-in-out infinite;
        }
      }
      #waterway-text-1 {
        &::before {
          content: "Season 1";
        }
        &::after {
          background-image: url(../img/waterway/bubble-mobile.png);
        }
      }
      #waterway-text-2 {
        &::before {
          content: "Expression";
        }
        &::after {
          background-image: url(../img/waterway/bubble-mobile2.png);
        }
      }
      #waterway-text-3 {
        &::before {
          content: "Purpose";
        }
        &::after {
          background-image: url(../img/waterway/bubble-mobile3.png);
        }
      }
      #waterway-text-4 {
        &::before {
          content: "Forging";
        }
        &::after {
          background-image: url(../img/waterway/bubble-mobile4.png);
        }
      }

      .waterway-title {
        font-size: 5.333vw;
        line-height: 7.467vw;
        margin: 1.067vw 0 6.933vw 0;
        br {
          display: block;
        }
      }
      ul {
        gap: 3.2vw;
        li {
          gap: 3.2vw;
          font-size: 4vw;
          line-height: 6.4vw;
          &::before {
            font-size: 2.667vw;
            line-height: 5.6vw;
          }
          a {
            font-size: 4vw;
            line-height: 6.4vw;
          }
        }
      }
      p {
        font-size: 5.333vw;
        line-height: calc(30 / 20);
        margin-top: 4vw;
        letter-spacing: -0.12vw;
        width: 100%;
      }
      a {
        width: 24.6vw;
        height: 6.8vw;
        border-width: 0.267vw;
        border-radius: 1.6vw;
        font-size: 5.333vw;
        line-height: 8vw;
      }
    }
  }

  .waterway-maintitle {
    font-size: 5.333vw;
    padding: 1.867vw 3.2vw;
    border-radius: 2.133vw;
  }

  footer {
    .faq {
      height: auto;
padding: 0 0 32vw 0;
      .main-title {
        font-size: 12.8vw;
      }
    }
  }

  .accordion-wrap {
    flex-direction: column;
  }

  .accordion-item {
    width: 100%;
  }

  .accordion-title {
    font-size: 3.733vw;
    line-height: 4.8vw;
    padding: 5.333vw 5.333vw 5.333vw 10.667vw;
    &::before {
      width: 0.533vw;
      height: 3.2vw;
    }
    &::after {
      width: 3.2vw;
      height: 0.533vw;
    }
  }

  footer {

    .footer-light {
      width: 175vw;
      left: -28vw;
      top: -4vw;
    }

    .faq {
      .main-title {
        font-size: 10.133vw;
        line-height: 15.467vw;
        margin: 0 0 2.667vw 0;
      }
    }
  }

  .accordion-title {
    font-size: 4.267vw;
    line-height: 6.4vw;
    padding: 4.533vw 5.333vw 4.533vw 10.133vw;
    &::before {
      width: 0.533vw;
      height: 3.2vw;
      left: 4.267vw;
    }
    &::after {
      width: 3.2vw;
      height: 0.533vw;
      left: 4.267vw;
    }
  }
  .accordion-content {
    font-size: 4.267vw;
    line-height: 6.4vw;
  }

  .footer {
    padding: 0 0 12.8vw 0;
    .faq {
      height: auto;
    }
    .f-main-title {
      font-size: 8.533vw;
      line-height: 12.8vw;
    }
    .join-bot {
      margin: 0 0 1.333vw 0;
      > span {
        font-size: 10.133vw;
        line-height: 12.267vw;
      }
      > img{
        width: 29.067vw;
        margin: 0 0 0 8vw;
      }
    }
    .socials {
      flex-direction: column;
      margin: 0 0 13vw 0;
      gap: 4vw;
      .btn {
        font-size: 4.267vw;
        gap: 3.2vw;
        padding: 4vw 5.867vw;
        border-radius: 2.133vw;
        &::before,
        &::after{
          width: 4.267vw;
        }
        img {
          width: 5.333vw;
        }
      }
    }


    .footer__block-wrapper{
      flex-direction: column;
      align-items: center;
      .terms {
        gap: 8vw;
        margin: 0 0 6.933vw 0;
        a {
          font-size: 3.2vw;
          gap: 3.733vw;
          .btn {
            font-size: 4.8vw;
            gap: 3.2vw;
            padding: 5.067vw 5.867vw;
            img {
              margin: 0;
              width: 5.333vw;
            }
            &::before,
            &::after {
              width: 4.267vw;
            }
            &::before {
              left: 0;
            }
            &::after {
              right: 0;
            }
            > span {
              &:nth-child(1) {
                display: none;
              }
            }
          }
        }
        .terms {
          gap: 10.667vw;
          a {
            font-size: 3.2vw;
            line-height: 4vw;
          }
        }
        .powered {
          a {
            img {
              width: 45.867vw;
            }
          }
        }
      }
    }



    
  }

  #mint {
    width: 100%;
    height: 229.333vw;
    .main-text__container {
      margin: 85vw 0 0 0;
      width: 100%;
      gap: 4vw;
    }
    img.bg {
      top: 8.533vw;
      left: 0;
      width: 252vw;
    }
    .anime-circle {
      top: 42.667vw;
      bottom: auto;
      left: -13.75vw;
      width: 91.2vw;
      height: 108.533vw;

      .wrapper-circle {
        .character {
          width: 98.5vw;
        }
      }
    }
    .container {
      height: 100%;
      margin-top: auto;
      display: block;
      .btn {
        position: relative;
        font-size: 4.267vw;
        line-height: 4.8vw;
        width: 48vw;
        margin: 10.667vw 0 0 0;
        height: 14.4vw;
        border-radius: 2.133vw;
        &::before,
        &::after {
          width: 8.267vw;
        }
      }
    }

    .main-title {
      font-size: 10.133vw;
      line-height: 12.8vw;
      margin: 25.533vw 0 7.2vw 0;
    }
    .main-text {
      font-size: 4vw;
      line-height: 6.4vw;
      letter-spacing: -0.02em;
    }
  }

  .footer {
    .socials {
      flex-direction: column;
    }
  }
}
