@media only screen and (max-width: 860px) {
  @-webkit-keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-364.583vw);
    }
  }
  @keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-364.583vw);
    }
  }
  @-webkit-keyframes main-button768 {
    0% {
      margin-bottom: 0vw;
    }
    50% {
      margin-bottom: 3.906vw;
    }
    100% {
      margin-bottom: 0vw;
    }
  }
  @keyframes main-button768 {
    0% {
      margin-bottom: 0vw;
    }
    50% {
      margin-bottom: 3.906vw;
    }
    100% {
      margin-bottom: 0vw;
    }
  }
  .container {
    width: 89.583vw;
  }
  .main {
    padding: 3.906vw 5.208vw 0 5.208vw;
    background-position: center -7.813vw;
  }
  .main .main__background {
    display: none;
  }
  .main .top-smoke {
    width: 142.223vw;
    height: 104.584vw;
    left: -44.48vw;
    top: 15.661vw;
  }
  .main .buttom-smoke {
    width: 71.459vw;
    height: 45.487vw;
    left: -2.969vw;
    top: 63.743vw;
  }
  .main .right-smoke {
    width: 87.022vw;
    height: 65.235vw;
    left: 14.314vw;
    top: 15.554vw;
  }
  .main .water {
    bottom: -14.323vw;
    background-size: 364.584vw 61.459vw;
    width: 729.167vw;
    height: 61.459vw;
    -webkit-animation: 15s water1024 linear infinite;
            animation: 15s water1024 linear infinite;
  }
  .main .water-blur1 {
    height: 52.083vw;
  }
  .main .header .header__logo {
    width: 24.74vw;
  }
  .main .header .header__right-block {
    gap: 5.208vw;
  }
  .main .header .header__right-block .header__nav {
    display: none;
  }
  .main .header .header__right-block .header__button {
    width: 18.88vw;
    height: 5.208vw;
    font-size: 1.953vw;
    line-height: 2.864vw;
    border-radius: 1.042vw;
  }
  .main .header .header__right-block .header__button .left-blok,
.main .header .header__right-block .header__button .right-block {
    width: 1.172vw;
    gap: 0.651vw;
  }
  .main .header .header__right-block .header__button .left-blok span,
.main .header .header__right-block .header__button .right-block span {
    height: 0.26vw;
  }
  .main .header .header__right-block .header__button:hover {
    border-radius: 2.344vw;
  }
  .main .main__container {
    height: 100%;
  }
  .main .main__container .main-title {
    font-size: 4.427vw;
    line-height: 5.729vw;
    width: 86.588vw;
    bottom: 34.5vh;
  }
  .main .main__container .main-subtitle {
    bottom: 18vh;
    width: 39.063vw;
    left: 8.724vw;
    font-size: 3.385vw;
    line-height: 4.688vw;
  }
  .main .main__container .main-subtitle a {
    border-radius: 0.881vw;
    padding: 0 0.651vw;
    height: 3.907vw;
  }
  .main .main__container .populacion-container {
    bottom: 61vh;
  }
  .main .main__container .populacion-container .main-populacion {
    font-size: 6.771vw;
    line-height: 8.073vw;
    gap: 1.953vw;
  }
  .main .main__container .populacion-container .main-populacion span {
    font-size: 2.604vw;
    line-height: 3.907vw;
    border-radius: 1.041vw;
    padding: 0 1.693vw;
    height: 5.208vw;
  }
  .main .main__container .populacion-container strong {
    margin: 2.735vw 0 0 0;
    font-size: 2.604vw;
    line-height: 3.907vw;
    width: 42.969vw;
  }
  .main .main__container .populacion-container .main-button {
    bottom: -47.5vh;
    margin: 0;
    width: 23.437vw;
    height: 23.437vw;
    font-size: 2.344vw;
    line-height: 3.516vw;
    -webkit-animation: main-button768 3s linear infinite;
            animation: main-button768 3s linear infinite;
  }
  .main .main__container .populacion-container .main-button img {
    bottom: 4.688vw;
    width: 3.645vw;
  }
  .main .main__container .populacion-container .main-button:hover {
    width: 26.041vw;
    height: 26.041vw;
    transform: translate(1.303vw, -1.303vw);
  }
  .beginning .water-blur {
    top: -4%;
  }
  .beginning .bubbles1 {
    width: 6.38vw;
  }
  .beginning .bubbles2 {
    width: 9.896vw;
  }
  .beginning .bubbles3 {
    width: 5.86vw;
  }
  .beginning .bubbles4 {
    width: 6.12vw;
  }
  .beginning .beginning__container {
    transform: translateY(-24%);
  }
  .beginning .beginning__container .beginning__slider {
    width: 57.031vw;
    height: 57.031vw;
  }
  .beginning .beginning__container .beginning__slider::before {
    height: 1.041vw;
    width: 1.041vw;
    border-left: 0.26vw solid #ffffff;
    border-bottom: 0.26vw solid #ffffff;
  }
  .beginning .beginning__container .beginning__slider::after {
    height: 1.041vw;
    width: 1.041vw;
    border-left: 0.26vw solid #ffffff;
    border-bottom: 0.26vw solid #ffffff;
  }
  .beginning .beginning__container .beginning__slider .circl-background {
    width: 57.031vw;
    height: 57.031vw;
    background-size: 57.031vw 57.031vw;
  }
  .beginning .beginning__container .beginning__slider .triangle {
    width: 43.229vw;
  }
  .beginning .beginning__container .beginning__slider .gif {
    width: 35.937vw;
  }
  .beginning .beginning__container .beginning__slider .circl {
    width: 11.328vw;
    height: 11.328vw;
    font-size: 2.051vw;
    line-height: 2.995vw;
  }
  .beginning .beginning__container .beginning__right-block {
    position: absolute;
    right: 4.167vw;
    top: 0.651vw;
  }
  .beginning .beginning__container .beginning__right-block h2 {
    position: relative;
    font-size: 6.251vw;
    line-height: 8.855vw;
    gap: 1.953vw;
  }
  .beginning .beginning__container .beginning__right-block h2 span {
    position: absolute;
    right: -4.167vw;
    top: 0;
    margin: 2.344vw 0 0 0;
    padding: 0 1.693vw;
    font-size: 2.604vw;
    line-height: 3.907vw;
    border-radius: 1.041vw;
    width: auto;
    height: 5.208vw;
  }
  .beginning .beginning__container .beginning__right-block strong {
    top: 194%;
    margin: 0 0 0 4.948vw;
    font-size: 3.125vw;
    line-height: 4.427vw;
    width: 37.37vw;
    letter-spacing: 0.025em;
  }
  .beginning .beginning__container .beginning__right-block strong span {
    margin: 1.043vw 0 0 0;
  }
  .team {
    padding: 0;
  }
  .team .team-background {
    left: -6.902vw;
    top: -4.557vw;
  }
  .team .slider {
    width: 50%;
  }
  .team .slider .slider-wrapper {
    height: 58.593vw;
  }
  .team .slider .slider-wrapper .slide {
    width: 45.573vw;
    top: 11.589vw;
  }
  .team .slider .slider-wrapper .slide.active {
    width: 37.369vw;
    left: 28.4%;
  }
  .team .slider .slider-wrapper .slide.centr {
    opacity: 0;
    width: 0;
    left: -50%;
    top: 50%;
  }
  .team .slider .slider-wrapper .slide.none {
    transform: translateY(-110%);
    left: 65%;
  }
  .team .capsule {
    width: 56.589vw;
    height: 74vw;
    transform: translate(-79%, -38%);
  }
  .team .capsule video {
    width: 28.616vw;
    height: 61.933vw;
  }
  .team .capsule::before {
    width: 32.353vw;
    height: 57.663vw;
  }
  .team .capsule::after {
    width: 56.589vw;
    height: 74vw;
  }
  .team .team__container {
    top: 14%;
  }
  .team .team__container .team__title {
    font-size: 6.251vw;
    line-height: 8.855vw;
  }
  .team .team__container .ridht-block {
    margin: 16.536vw 0 0 0;
  }
  .team .team__container .ridht-block .button-container {
    gap: 1.303vw;
  }
  .team .team__container .ridht-block .button-container .button {
    width: 8.593vw;
    height: 3.645vw;
    border: 0.131vw solid #ffffff;
    border-radius: 0.855vw;
  }
  .team .team__container .ridht-block .button-container .button.active {
    border: 1px solid #ffffff;
  }
  .team .team__container .ridht-block .button-container .button:hover {
    border: 1px solid #ff66c4;
  }
  .team .team__container .ridht-block .button-container .button img {
    width: 6.016vw;
  }
  .team .team__container .ridht-block span {
    margin: 11.197vw 0 0 0;
    font-size: 3.385vw;
    line-height: 3.907vw;
  }
  .team .team__container .ridht-block strong {
    margin: 0.651vw 0 0 0;
    font-size: 2.864vw;
    line-height: 4.297vw;
    letter-spacing: -0.03em;
  }
  .team .team__container .ridht-block p {
    margin: 2.084vw 0 0 0;
    font-size: 2.344vw;
    line-height: 3.645vw;
    width: 37.5vw;
  }
  .team .team__container .ridht-block .social {
    margin: 3.645vw 0 0 0;
    gap: 1.563vw;
  }
  .team .team__container .ridht-block .social a {
    width: 5.208vw;
    height: 5.208vw;
  }
  /*---*/
  .container {
    width: 90.5vw;
  }
  .btn {
    font-size: 2.344vw;
    width: 28.65vw;
    padding: 2.7vw 6.5vw;
    border-radius: 1.042vw;
  }
  .btn::before, .btn::after {
    width: 7.031vw;
    height: 2.083vw;
    background-size: 7.031vw auto;
  }
  .beginning {
    height: 300vh;
  }
  .fade-wrapper {
    margin-top: -220vh;
  }
  #mintwaterway {
    height: 7000px;
  }
  #mint .container {
    margin-top: 5.5vw;
    width: 90.5vw;
  }
  #mint .main-title {
    font-size: 6.25vw;
    line-height: 1.4166666667;
    margin: 0 0 5.208vw 0;
  }
  #mint .main-text {
    font-size: 3.125vw;
    line-height: 1.4166666667;
    width: 100%;
    margin: 0 0 7.813vw 0;
  }
  #mint .anime-circle {
    width: 97vw;
    top: 36.5vw;
    left: 12.25vw;
  }
  #mint .anime-circle .wrapper-circle .character {
    width: 68.5vw;
  }
  #waterway .waterway-tabs {
    width: 45vw;
    gap: 3.2vw;
  }
  #waterway .waterway-tabs a {
    font-size: 3.125vw;
  }
  #waterway .waterway-tabs a.active {
    font-size: 6.25vw;
  }
  #waterway .waterway-texts {
    width: 44vw;
  }
  #waterway .waterway-texts .waterway-title {
    font-size: 5.469vw;
    margin: 0 0 1.302vw 0;
  }
  #waterway .waterway-texts ul li {
    font-size: 2.604vw;
    margin-top: 1.302vw;
    padding: 0 0 0 3.8vw;
  }
  #waterway .waterway-texts ul li::before {
    width: 0.521vw;
    height: 0.521vw;
    top: 1.953vw;
    left: 1.5vw;
  }
  #waterway .waterway-texts p {
    font-size: 3.125vw;
  }
  #waterway .waterway-texts a {
    width: 16.6vw;
    height: 4vw;
    border-radius: 1.042vw;
  }
  #waterway .waterway-buble {
    top: 70vw;
    left: 15vw;
    width: 40vw;
    height: 40vw;
  }
  #waterway .waterway-buble .buble-container .buble {
    width: 40vw;
  }
  #waterway .waterway-buble .buble-container .axolots {
    width: 37vw;
  }
  #waterway.first #waterway-bg {
    width: 427.646vw;
    left: 0;
    top: 0;
    min-height: 105%;
  }
  #waterway.first .waterway-buble {
    top: 70vw;
    left: 6.5vw;
  }
  #waterway.second #waterway-bg {
    width: 540.646vw;
    left: -99vw;
    top: 0;
    min-height: 105%;
  }
  #waterway.second .waterway-buble {
    transform: scale(1.125) translate(1.979vw, -8.021vw);
    left: 6.5vw;
  }
  #waterway.third #waterway-bg {
    width: 440.646vw;
    left: -150vw;
    top: 0;
    min-height: 105%;
  }
  #waterway.third .waterway-buble {
    transform: scale(1.3) translate(2.917vw, 3.646vw);
    left: 6.5vw;
  }
  #waterway.four #waterway-bg {
    width: 490.646vw;
    left: -255vw;
    top: -10vw;
    min-height: 105%;
  }
  #waterway.four .waterway-buble {
    transform: scale(1.47) translate(5.396vw, 1.531vw);
    left: 6.5vw;
  }
  .waterway-maintitle {
    font-size: 2.604vw;
    padding: 0.651vw 1.563vw;
    border-radius: 1.042vw;
  }
  footer .faq {
    height: 138.021vw;
    margin: 0 0 23.438vw 0;
  }
  footer .faq .main-title {
    font-size: 6.25vw;
  }
  .accordion-wrap {
    flex-direction: column;
  }
  .accordion-wrap .accordion:nth-child(1) {
    order: 2;
  }
  .accordion-item {
    width: 100%;
  }
  .accordion-title {
    font-size: 2.865vw;
    padding: 2.604vw 2.604vw 2.604vw 5.208vw;
  }
  .accordion-title::before {
    width: 0.26vw;
    height: 1.563vw;
  }
  .accordion-title::after {
    width: 1.563vw;
    height: 0.26vw;
  }
  .accordion-content {
    font-size: 2.344vw;
  }
  .footer .socials {
    gap: 1.823vw;
  }
  .footer .socials .btn {
    font-size: 2.344vw;
    gap: 1.563vw;
    padding: 2.474vw 2.865vw;
  }
  .footer .socials .btn img {
    margin: 0;
    width: 2.604vw;
  }
  .footer .socials .btn::before, .footer .socials .btn::after {
    width: 2.083vw;
  }
  .footer .socials .btn::before {
    left: 0;
  }
  .footer .socials .btn::after {
    right: 0;
  }
  .footer .socials .btn > span:nth-child(1) {
    display: none;
  }
  .footer .terms {
    gap: 5.208vw;
  }
  .footer .terms a {
    font-size: 1.823vw;
  }
  .footer .powered a img {
    width: 16.927vw;
  }
}/*# sourceMappingURL=768.css.map */