@media only screen and (max-width: 860px) {
  @keyframes water1024 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-364.583vw);
    }
  }
  @keyframes main-button768 {
    0% {
      margin-bottom: 0vw;
    }
    50% {
      margin-bottom: 3.906vw;
    }
    100% {
      margin-bottom: 0vw;
    }
  }

  @keyframes begining-arrow768 {
    0% {
      transform: translateY(0) rotate(-45deg);
    }
    50% {
      transform: translateY(-120%) rotate(-45deg);
    }
    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }

  .container {
    width: 89.583vw;
  }
  .main {
    padding: 3.906vw 5.208vw 0 5.208vw;
    background-position: center -7.813vw;
    .main__background {
      display: none;
    }
    .top-smoke {
      width: 142.223vw;
      height: 104.584vw;
      left: -44.48vw;
      top: 15.661vw;
    }
    .buttom-smoke {
      width: 71.459vw;
      height: 45.487vw;
      left: -2.969vw;
      top: 63.743vw;
    }
    .right-smoke {
      width: 87.022vw;
      height: 65.235vw;
      left: 14.314vw;
      top: 15.554vw;
    }
    .water {
      bottom: -14.323vw;
      background-size: 364.584vw 61.459vw;
      width: 729.167vw;
      height: 61.459vw;
      animation: 15s water1024 linear infinite;
    }
    .water-blur1 {
      height: 52.083vw;
    }
    .header {
      .header__logo {
        width: 24.74vw;
      }
      .header__right-block {
        gap: 5.208vw;
        .header__nav {
          display: none;
        }
        .header__button {
          width: 18.88vw;
          height: 5.208vw;
          font-size: 1.953vw;
          line-height: 2.864vw;
          border-radius: 1.042vw;
          .left-blok,
          .right-block {
            width: 1.172vw;
            gap: 0.651vw;
            span {
              height: 0.26vw;
            }
          }
          &:hover {
            border-radius: 2.344vw;
          }
        }
      }
    }
    .main__container {
      height: 100%;
      .main-title {
        font-size: 5.729vw;
        line-height: 7.031vw;
        width: auto;
        bottom: 31.5vh;
      }
      .main-subtitle {
        bottom: 21vh;
        width: 100%;
        left: 0;
        font-size: 3.385vw;
        line-height: 4.688vw;
        a {
          border-radius: 0.881vw;
          padding: 0 0.651vw;
          height: 3.907vw;
        }
      }
      .main-inbox {
        padding: 1.953vw 3.125vw 5.729vw 3.125vw;
        width: 52.344vw;
        bottom: 57vw;
        p {
          font-size: 2.083vw;
          line-height: 3.125vw;
        }
      }
      .populacion-container {
        top: 10.5vw;
        .main-populacion {
          font-size: 5.469vw;
          line-height: 6.771vw;
          gap: 1.953vw;
          span {
            font-size: 2.083vw;
            line-height: 3.125vw;
            border-radius: 1.041vw;
            padding: 0 2.083vw;
            height: 4.688vw;
          }
        }
        strong {
          margin: 2.214vw 0 0 0;
          font-size: 2.083vw;
          line-height: 3.125vw;
          width: 42.188vw;
        }
        .main-button {
          bottom: -34.5vh;
          margin: 0;
          width: 23.437vw;
          height: 23.437vw;
          font-size: 2.344vw;
          line-height: 3.516vw;
          animation: main-button768 3s linear infinite;
          img {
            bottom: 4.688vw;
            width: 3.645vw;
          }
          &:hover {
            width: 26.041vw;
            height: 26.041vw;
            transform: translate(1.303vw, -1.303vw);
          }
        }
      }
    }
  }
  .beginning {
    .beginning-wrapper {
      .begining-blur {
        z-index: 6;
      }
    }
    .beginning-container {
      position: relative;
    }
    .water-blur {
      top: -13%;
    }
    .bubbles1 {
      width: 6.38vw;
    }
    .bubbles2 {
      width: 9.896vw;
    }
    .bubbles3 {
      width: 5.86vw;
    }
    .bubbles4 {
      width: 6.12vw;
    }
    .beginning__container {
      transform: translateY(-24%);
      flex-direction: column-reverse;
      position: static;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        right: auto;
        left: 19.271vw;
        top: 31.25vw;
        bottom: auto;
        height: 1.041vw;
        width: 1.041vw;
        border-left: 0.26vw solid #ffffff;
        border-bottom: 0.26vw solid #ffffff;
        transform: translateY(0) rotate(-45deg);
        animation: 1.5s begining-arrow768 linear infinite;
      }
      &::after {
        content: "";
        position: absolute;
        right: 19.531vw;
        left: auto;
        top: 31.25vw;
        bottom: auto;
        height: 1.041vw;
        width: 1.041vw;
        border-left: 0.26vw solid #ffffff;
        border-bottom: 0.26vw solid #ffffff;
        transform: translateY(0) rotate(-45deg);
        animation: 1.5s begining-arrow768 linear infinite;
      }

      .beginning__slider {
        width: 57.031vw;
        height: 57.031vw;
        transform: rotate(180deg);
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
        .circl-background {
          width: 57.031vw;
          height: 57.031vw;
          background-size: 57.031vw 57.031vw;
        }
        .triangle {
          width: 43.229vw;
        }
        .gif {
          width: 35.937vw;
          transform: translate(-50%, -50%) rotate(180deg);
        }
        .circl {
          width: 11.328vw;
          height: 11.328vw;
          font-size: 2.051vw;
          line-height: 2.995vw;
          transform: rotate(180deg);
          &.top {
            top: 65.5%;
            left: 85%;
          }
          &.active {
            top: -9.5%;
            left: 40.5%;
          }
          &.left {
            top: 65.5%;
            left: -4%;
          }
        }
      }
      .beginning__right-block {
        position: static;
        right: 4.167vw;
        top: 0.651vw;

        h2 {
          position: static;
          justify-content: space-between;
          top: 0;
          bottom: auto;
          font-size: 6.251vw;
          line-height: 8.855vw;
          gap: 1.953vw;
          padding: 0;
          width: 89.583vw;
          span {
            position: static;
            right: -4.167vw;
            top: 0;
            margin: 0.651vw 0 0 0;
            padding: 0 2.214vw;
            font-size: 2.083vw;
            line-height: 3.125vw;
            border-radius: 1.041vw;
            width: auto;
            height: 5.208vw;
          }
        }
        strong {
          top: 87.24vw;
          left: 0;
          margin: 0;
          font-size: 2.344vw;
          line-height: 3.646vw;
          font-weight: 400;

          width: 100%;
          letter-spacing: -0.02em;
          span {
            margin: 3.516vw 0 0 0;
          }
        }
      }
    }
  }
  .team {
    padding: 0;
    .team-background {
      left: -6.902vw;
      top: -4.557vw;
    }
    .slider {
      width: 50%;
      .slider-wrapper {
        height: 58.593vw;
        .slide {
          width: 45.573vw;
          top: 11.589vw;
          &.active {
            width: 37.369vw;
            left: 28.4%;
          }
          &.centr {
            opacity: 0;
            width: 0;
            left: -50%;
            top: 50%;
          }
          &.none {
            transform: translateY(-110%);
            left: 65%;
          }
        }
      }
    }
    .capsule {
      width: 56.589vw;
      height: 74vw;
      transform: translate(-79%, -38%);
      video {
        width: 28.616vw;
        height: 61.933vw;
      }
      &::before {
        width: 32.353vw;
        height: 57.663vw;
      }
      &::after {
        width: 56.589vw;
        height: 74vw;
      }
    }
    .team__container {
      top: 14%;
      .team__title {
        font-size: 6.251vw;
        line-height: 8.855vw;
      }
      .ridht-block {
        margin: 26vw 0 0 0;

        .button-container {
          gap: 1.303vw;
          .button {
            width: 8.593vw;
            height: 3.645vw;
            border: 0.131vw solid #ffffff;
            border-radius: 0.855vw;
            &.active {
              border: 1px solid #ffffff;
            }
            &:hover {
              border: 1px solid #ff66c4;
            }
            img {
              width: 6.016vw;
            }
          }
        }
        span {
          margin: 13.197vw 0 0 0;
          font-size: 3.385vw;
          line-height: 3.907vw;
        }
        strong {
          margin: 0.651vw 0 0 0;
          font-size: 2.344vw;
          line-height: 2.865vw;
          letter-spacing: -0.03em;
        }
        p {
          margin: 3.084vw 0 0 0;
          font-size: 2.083vw;
          line-height: 3.125vw;
          width: 37.5vw;
        }
        .social {
          margin: 3.645vw 0 0 0;
          gap: 1.563vw;
          a {
            width: 5.208vw;
            height: 5.208vw;
          }
        }
      }
    }
  }

  .container {
    width: 90.5vw;
  }
  .btn {
    font-size: 2.344vw;
    width: 28.65vw;
    padding: 2.7vw 6.5vw;
    border-radius: 1.042vw;
    &::before,
    &::after {
      width: 7.031vw;
      height: 2.083vw;
      background-size: 7.031vw auto;
    }
  }

  #mint {
    align-items: center;
    .container {
      width: 90.5vw;
      display: flex;
      height: min-content;
      flex-direction: column;
      justify-content: center;
      .btn {
        margin: 6.51vw 19.401vw 0 auto;
        width: 23.438vw;
        height: 7.813vw;
        border-radius: 1.042vw;
        font-size: 16px;
line-height: 18px;
      }
    }
    .main-title {
      font-size: 6.25vw;
      line-height: calc(68 / 48);
      margin: 0 0 5.208vw 0;
    }
    .main-text {
      font-size: 2.083vw;
      line-height: 3.125vw;
      width: 100%;
      margin: 0 0 0 0;
    }
    .main-text__container {
      margin: 27.995vw 0 0 auto;
      width: 42.708vw;
    }
    .anime-circle {
      width: 97vw;
      top: 36.5vw;
      left: 12.25vw;
      .wrapper-circle {
        .character {
          width: 68.5vw;
        }
      }
    }
    img.bg {
      top: -4.75vw;
      left: -18.25vw;
      width: 102vw;
    }
    .anime-circle {
      width: 57.5vw;
      top: -6.5vw;
      left: 40.25vw;
      height: 57.5vw;
    }
  }
  #waterway {
    .waterway-tabs {
      margin: 10.026vw 0 0 0;
      width: 45vw;
      gap: 3.906vw;
      a {
        font-size: 3.125vw;
        &.active {
          font-size: 6.25vw;
        }
      }
    }
    .waterway-texts {
      width: 42.188vw;
      .waterway-title {
        font-size: 4.557vw;
        line-height: 5.859vw;
        margin: 0 0 5.208vw 0;
        br {
          display: none;
        }
      }
      ul {
        gap: 3.255vw;
        li {
          font-size: 2.083vw;
          line-height: 3.125vw;
          gap: 1.693vw;
          &::before {
            font-size: 1.302vw;
            line-height: 2.995vw;
          }
        }
      }
      p {
        font-size: 3.125vw;
      }
      a {
        width: 16.6vw;
        height: 4vw;
        border-radius: 1.042vw;
      }
    }
    .waterway-buble {
      top: 63vw;
      left: 4.5vw;
      width: 43vw;
      height: 43vw;
      .buble-container {
        .buble {
          width: 43vw;
        }
        .axolots {
          width: 35vw;
        }
      }
    }
    &.first {
      #waterway-bg {
        width: 427.646vw;
        left: 0;
        top: 0;
        min-height: 105%;
      }
      .waterway-buble {
        top: 63vw;
        left: 4.5vw;
      }
    }
    &.second {
      #waterway-bg {
        width: 540.646vw;
        left: -99vw;
        top: 0;
        min-height: 105%;
      }
      .waterway-buble {
        top: 63vw;
        left: 4.5vw;
      }
    }
    &.third {
      #waterway-bg {
        width: 440.646vw;
        left: -150vw;
        top: 0;
        min-height: 105%;
      }
      .waterway-buble {
        top: 63vw;
        left: 4.5vw;
      }
    }
    &.four {
      #waterway-bg {
        width: 490.646vw;
        left: -255vw;
        top: -10vw;
        min-height: 105%;
      }
      .waterway-buble {
        top: 63vw;
        left: 4.5vw;
      }
    }
  }
  .waterway-maintitle {
    font-size: 2.083vw;
    line-height: 3.125vw;
    height: 4.688vw;
    padding: 0 2.083vw;
    border-radius: 1.042vw;
  }

  footer {
    .faq {
      padding: 7.292vw 0 19.531vw 0;
      .main-title {
        font-size: 6.25vw;
      }
    }
  }

  .accordion-wrap {
    flex-direction: column;
    .accordion {
      &:nth-child(1) {
        order: 2;
      }
    }
  }

  .accordion-item {
    width: 100%;
  }

  .accordion-title {
    font-size: 2.344vw;
    line-height: 3.646vw;
    padding: 2.604vw 2.604vw 2.604vw 5.208vw;
    &::before {
      width: 0.26vw;
      height: 1.563vw;
    }
    &::after {
      width: 1.563vw;
      height: 0.26vw;
    }
  }

  .accordion-content {
    font-size: 2.344vw;
    line-height: 3.646vw;
  }

  .footer {
    padding: 0 0 9.115vw 0;
    .f-main-title {
      font-size: 6.25vw;
      line-height: 8.854vw;
    }
    .join-bot > img {
      width: 29.948vw;
      margin: 0 0 0 10.5vw;
    }

    .socials {
      margin: 2.977vw 0 8vw 0;
      gap: 1.823vw;
      .btn {
        font-size: 2.344vw;
        gap: 1.563vw;
        padding: 2.474vw 2.865vw;
        img {
          margin: 0;
          width: 2.604vw;
        }
        &::before,
        &::after {
          width: 2.083vw;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
        > span {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }
    .footer__block-wrapper {
      .terms{
        a {
          font-size: 1.563vw;
          line-height: 1.953vw;
      }
      }   
      .powered {
        a {
          img {
            width: 22.656vw;
          }
        }
      }
    }
   
  }
}
