@media only screen and (max-width: 860px) {
  .container {
    width: 89.583vw;
  }
  .header {
    padding: 3.906vw 5.208vw;
  }
  .header .logo-link .logo {
    width: 24.609vw;
  }
  .header .header__right-block .open-menu {
    width: 4.688vw;
    height: 4.688vw;
    border-radius: 1.042vw;
    border: 1px solid #ffffff;
    gap: 0.521vw;
  }
  .header .header__right-block .open-menu span {
    width: 2.083vw;
    height: 0.26vw;
  }
  .header .header__right-block .nav__wrapper {
    padding: 3.906vw 5.208vw;
  }
  .header .header__right-block .nav__wrapper .close-menu {
    width: 4.688vw;
    height: 4.688vw;
    border-radius: 1.042vw;
    border: 1px solid #ffffff;
  }
  .header .header__right-block .nav__wrapper .close-menu span {
    width: 2.083vw;
    height: 0.26vw;
  }
  .header .header__right-block .nav__wrapper .nav {
    margin: 3.255vw 0 0 0;
  }
  .header .header__right-block .nav__wrapper .nav li {
    border-top: 1px solid rgba(255, 255, 255, 0.1215686275);
    height: 6.51vw;
  }
  .header .header__right-block .nav__wrapper .nav li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1215686275);
  }
  .header .header__right-block .nav__wrapper .nav li .item {
    font-size: 1.823vw;
    line-height: 2.214vw;
  }
  .header .header__right-block::before {
    -webkit-backdrop-filter: blur(0.521vw);
            backdrop-filter: blur(0.521vw);
  }
  .header.active .header__right-block::before {
    -webkit-backdrop-filter: blur(0.521vw);
            backdrop-filter: blur(0.521vw);
  }
  .about .logo-bg {
    top: 27.344vw;
    right: 5.208vw;
    width: 36.979vw;
  }
  .about .about__container .about__title {
    font-size: 6.25vw;
    line-height: 8.854vw;
  }
  .about .about__container .about__subtitle {
    margin: 1.302vw 0 0 0;
    width: 52.604vw;
    font-size: 2.344vw;
    line-height: 3.646vw;
  }
  .about .about__container .about__description {
    margin: 3.906vw 0 0 0;
    font-size: 2.083vw;
    line-height: 3.125vw;
  }
  .about .about__container .about__slider-wrapper {
    margin: 3.906vw 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 6.51vw;
  }
  .about .about__container .about__slider-wrapper .slider {
    width: 100%;
    position: relative;
    justify-content: space-between;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev,
.about .about__container .about__slider-wrapper .slider .button-next {
    position: static;
    left: auto;
    top: auto;
    bottom: auto;
    width: 7.292vw;
    height: 3.125vw;
    border: 1px solid #ffffff;
    border-radius: 1.042vw;
    transform: none;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev img,
.about .about__container .about__slider-wrapper .slider .button-next img {
    width: 4.427vw;
    height: 1.302vw;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev:hover,
.about .about__container .about__slider-wrapper .slider .button-next:hover {
    border: 1px solid #ff66c4;
  }
  .about .about__container .about__slider-wrapper .slider .button-prev.inactive:hover,
.about .about__container .about__slider-wrapper .slider .button-next.inactive:hover {
    border: 1px solid #ffffff;
  }
  .about .about__container .about__slider-wrapper .slider .button-next img {
    transform: rotate(180deg);
  }
  .about .about__container .about__slider-wrapper .slider .slide-container {
    width: 69.792vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper {
    gap: 1.042vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide {
    width: 14.583vw;
    height: 14.583vw;
    padding: 0 1.563vw 1.563vw 1.563vw;
    border-radius: 0.903vw 0.903vw 0 0;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide span {
    font-size: 1.467vw;
    line-height: 2.474vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active {
    width: 18.49vw;
    height: 18.49vw;
  }
  .about .about__container .about__slider-wrapper .slider .slide-container .slide-wrapper .slide.active span {
    transform: scale(1.26);
  }
  .about .about__container .about__slider-wrapper .slider__description {
    width: 57.943vw;
    margin: 0 0 0 auto;
  }
  .about .about__container .about__slider-wrapper .slider__description p {
    font-size: 2.083vw;
    line-height: 3.125vw;
  }
  .charity .charity-axolots1 {
    bottom: 10%;
    left: 5.208vw;
    width: 13.932vw;
  }
  .charity .charity-axolots2 {
    bottom: 7%;
    left: 20.182vw;
    width: 22.135vw;
  }
  .charity .heart-container {
    bottom: 6.5%;
    top: auto;
    left: auto;
    right: 10.547vw;
    width: 48.698vw;
    height: 46.745vw;
  }
  .charity .heart-container .heart-wrapper .heart {
    left: 2.396vw;
    top: 2.083vw;
    width: 43.618vw;
  }
  .charity .heart-container .heart-wrapper .planet {
    right: 0.313vw;
    top: 6.302vw;
    width: 40.051vw;
  }
  .charity .charity__container {
    flex-direction: column;
    padding: 0 0 46.745vw 0;
  }
  .charity .charity__container .charity__title {
    font-size: 4.948vw;
    line-height: 6.25vw;
    width: 100%;
  }
  .charity .charity__container .charity__subtitle-wrapper {
    padding: 0;
    width: 100%;
    gap: 3.255vw;
    margin: 2.604vw 0 0 0;
  }
  .charity .charity__container .charity__subtitle-wrapper p {
    font-size: 2.083vw;
    line-height: 3.125vw;
  }
  .roadmap .roadmap__container .roadmap__title {
    font-size: 4.948vw;
    line-height: 6.25vw;
  }
  .roadmap .roadmap__container #vr {
    margin: 3.906vw 0 0 0;
  }
  .roadmap .roadmap__container #vr .code {
    top: 7.813vw;
    right: 11.458vw;
    width: 5.729vw;
  }
  .roadmap .roadmap__container #vr .vr-text {
    width: 65.104vw;
    gap: 1.953vw;
    padding: 0 0 6.51vw 0;
  }
  .roadmap .roadmap__container #vr .vr-text p {
    font-size: 2.083vw;
    line-height: 3.125vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation {
    gap: 3.125vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container {
    gap: 6.901vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .background-button {
    border-radius: 0.781vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__button-container .navigation__button {
    padding: 0.521vw 0.651vw;
    font-size: 2.083vw;
    line-height: 2.083vw;
    border-radius: 0.781vw;
  }
  .roadmap .roadmap__container #vr .roadmap__navigation .navigation__line {
    width: 100%;
  }
  .story::before {
    height: 32.552vw;
  }
  .story .story__container {
    flex-direction: column;
    padding: 0 0 13.021vw 0;
  }
  .story .story__container .story__left-block {
    position: static;
    width: 100%;
  }
  .story .story__container .story__left-block .stone {
    left: -19vw;
    top: auto;
    bottom: 0;
    width: 88.281vw;
  }
  .story .story__container .story__left-block .story__title {
    font-size: 4.948vw;
    line-height: 6.25vw;
  }
  .story .story__container .story__left-block .story__subtitle {
    position: absolute;
    bottom: 24.74vw;
    left: 0;
    font-size: 2.344vw;
    line-height: 3.646vw;
    width: 32.552vw;
    margin: 0 0 0 5.208vw;
  }
  .story .story__container .story__left-block .story__subtitle img {
    width: 5.921vw;
    bottom: 0.781vw;
    right: 11vw;
  }
  .story .story__container .story__right-block {
    margin: 5.208vw 0 0 auto;
    width: 56.12vw;
    height: 72.005vw;
    padding: 11.719vw 3.907vw 11.459vw 5.208vw;
    position: relative;
  }
  .story .story__container .story__right-block::before {
    width: 50.319vw;
    height: 64.379vw;
    filter: blur(3.385vw);
  }
  .story .story__container .story__right-block img {
    width: 58.693vw;
    top: -7.552vw;
    left: -3.516vw;
    width: 84.505vw;
  }
  .story .story__container .story__right-block .description {
    padding: 0 2.604vw 0 0;
    gap: 2.723vw;
  }
  .story .story__container .story__right-block .description p {
    font-size: 1.823vw;
    line-height: 2.604vw;
  }
  .story .story__container .story__right-block .description::-webkit-scrollbar {
    width: 0.277vw;
  }
  .story .story__container .story__right-block .description::-webkit-scrollbar-track {
    background-color: rgba(7, 3, 31, 0.1882352941);
    border-radius: 0.556vw;
  }
  .story .story__container .story__right-block .description::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.417vw #07031f;
    border-radius: 0.556vw;
  }
  .footer {
    gap: 13.021vw;
    padding: 13.021vw 0 7.812vw 0;
  }
  .footer .footer__container .footer__left-block .footer__title {
    font-size: 4.948vw;
    line-height: 6.251vw;
    width: 100%;
  }
  .footer .footer__container .footer__left-block .footer__subtitle {
    font-size: 2.084vw;
    line-height: 3.125vw;
    margin: 13.021vw 0 0 0;
    gap: 0.781vw;
  }
  .footer .footer__container .footer__mail {
    font-size: 3.645vw;
    line-height: 4.427vw;
    gap: 1.563vw;
  }
  .footer .footer__container .footer__mail img {
    width: 3.907vw;
  }
  .footer .social__container .social__left-block {
    gap: 1.953vw;
    flex-direction: column;
  }
  .footer .social__container .social__left-block span {
    font-size: 1.563vw;
    line-height: 1.953vw;
  }
  .footer .social__container .social__logo {
    width: 22.656vw;
  }
  .footer .social__container .social {
    gap: 1.953vw;
  }
  .footer .social__container .social a svg {
    width: 4.427vw;
  }
}
@media only screen and (min-aspect-ratio: 768/800) and (min-width: 601px) and (max-width: 860px) {
  .about,
.charity,
.roadmap,
.story {
    height: 117.188vw;
  }
}/*# sourceMappingURL=768about.css.map */